#%RAML 0.8
---
title: Open Data
version: v1.2.2
protocols:
  - HTTPS
baseUri: 'https://api.openbanking.xyz/open-banking/v1.2'
mediaType: application/prs.openbanking.opendata.v1.2+json
traits:
  - retrievable:
      responses:
        '200':
          headers:
            Strict-Transport-Security:
              description: >
                Ensures that the endpoint will only be accessed via HTTPS, for a
                period of up to one year.
              default: max-age=31536000
              required: true
            X-Frame-Options:
              description: >
                Ensures that the content served by this endpoint cannot be
                loaded in an embedded IFRAME element.
              default: DENY
              required: true
            ETag:
              description: >
                Textual value used for determining freshness of content being
                served.
              required: true
            Content-Type:
              default: application/prs.openbanking.opendata.v1.2+json
              required: true
            X-Content-Type-Options:
              description: >
                Ensures each page has a content type and prevents browsers from
                doing MIME type sniffing
              default: nosniff
              required: true
        '400':
          description: |
            Failure. You have sent a request which could not be understood.
          body:
            application/json:
              schema: http-error-400
              example: |
                {
                  "status": "400",
                  "title": "Bad request",
                  "description": "You have sent a request which could not be understood."
                }
        '408':
          description: >
            Failure. Your client has failed to submit a request, and a timeout
            has occurred.
          body:
            application/json:
              schema: http-error-408
              example: |
                {
                  "status": "408",
                  "title": "Client timeout",
                  "description": "Your client has failed to submit a request, and a timeout has occurred."
                }
        '429':
          description: |
            Failure. You have requested this resource too often. Slow down.
          body:
            application/json:
              schema: http-error-429
              example: |
                {
                  "status": "429",
                  "title": "Too many requests",
                  "description": "You have requested this resource too often. Slow down."
                }
        '500':
          description: >
            Failure. An error occurred on the server. No further information is
            available.
          body:
            application/json:
              schema: http-error-500
              example: |
                {
                  "status": "500",
                  "title": "Internal server error",
                  "description": "An error occurred on the server. No further information is available."
                }
        '503':
          description: |
            Failure. The service is temporarily unavailable.
          body:
            application/json:
              schema: http-error-503
              example: |
                {
                  "status": "503",
                  "title": "Service temporarily unavailable",
                  "description": "The service is temporarily unavailable."
                }
  - http-metadata:
      responses:
        '200':
          description: >
            Success. Returns metadata about this resource via HTTP headers. No
            actual content is returned

            when this method is invoked.
  - request-params:
      headers:
        If-Modified-Since:
          description: |
            Used for conditional request, to retrieve data
            only if modified since a given date
        If-None-Match:
          description: |
            Used for conditional request, to retrieve data only
            if the given Etag value does not match
schemas:
  - http-error-400: |-
      {
        "title": "400 Error object",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "400"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Bad request"
            ]
          },
          "description": {
            "type": "string",
            "enum": [
              "You have sent a request which could not be understood."
            ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-408: |-
      {
        "title": "408 Error object",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "408"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Client timeout"
            ]
          },
          "description": {
            "type": "string",
            "enum": [
              "Your client has failed to submit a request, and a timeout has occurred."
            ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-429: |-
      {
        "title": "429 Error object",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "429"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Too many requests"
            ]
          },
          "description": {
            "type": "string",
            "enum": [
              "You have requested this resource too often. Slow down."
            ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-500: |-
      {
        "title": "500 Error object",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "500"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Internal server error"
            ]
          },
          "description": {
            "type": "string",
            "enum": [
              "An error occurred on the server. No further information is available."
            ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-503: |-
      {
        "title": "503 Error object",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "503"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Service temporarily unavailable"
            ]
          },
          "description": {
            "type": "string",
            "enum": [
              "The service is temporarily unavailable."
            ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
resourceTypes:
  - opendata:
      head:
        description: Retrieve metadata about the current set of all <<description>>.
        is:
          - retrievable
          - http-metadata
          - request-params
      get:
        description: Retrieve information about all <<description>>.
        is:
          - retrievable
          - request-params
        responses:
          '200':
            body:
              application/prs.openbanking.opendata.v1.2+json:
                schema: |
                  {
                    "title": "<<description>>",
                    "type": "object",
                    "properties": {
                      "meta": {
                        "title": "Meta data",
                        "type": "object",
                        "properties": {
                          "LastUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "TotalResults": {
                            "type": "integer"
                          },
                          "Agreement": {
                            "type": "string",
                            "enum": [
                              "Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions"
                            ]
                          },
                          "License": {
                            "description": "Change Banking License",
                            "type": "string",
                            "format": "uri",
                            "enum": ["http://www.changebanking.uk/Open-Licence"]
                          },
                          "TermsOfUse": {
                            "description": "Change Banking Terms of Use",
                            "type": "string",
                            "format": "uri",
                            "enum": ["http://www.changebanking.uk/API-Terms"]
                          }
                        },
                        "required": [ "LastUpdated", "TotalResults", "Agreement", "License", "TermsOfUse" ]
                      },
                      "data": {
                        "type": "array",
                        "items": <<dataSchema>>
                      }
                    },
                    "required": [ "meta", "data" ],
                    "additionalProperties": false
                   }
documentation:
  - title: Home
    content: >
      Welcome to the Open Banking Open Data API specification. This is a working
      draft

      reflecting the progress of the Implementation Entity Working Group.
/branches:
  type:
    opendata:
      description: Bank Branches
      dataSchema: |-
        {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Branch",
          "type": "object",
          "properties": {
            "Organisation": {
              "description": "Organisation",
              "type": "object",
              "properties": {
                "ParentOrganisation": {
                  "description": "Parent organisation",
                  "type": "object",
                  "properties": {
                    "LEI": {
                      "description": "The LEI ID of the organisation",
                      "type": "string",
                      "pattern": "^[A-Z0-9]{18,18}[0-9]{2,2}$"
                    },
                    "BIC": {
                      "description": "The BIC from the organisation",
                      "type": "string",
                      "pattern": "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                    },
                    "OrganisationName": {
                      "description": "Organisation Name",
                      "type": "object",
                      "properties": {
                        "LegalName": {
                          "description": "Legal Name of the organisation",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        }
                      },
                      "required": [
                        "LegalName"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "OrganisationName"
                  ],
                  "additionalProperties": false
                },
                "Brand": {
                  "description": "Brand",
                  "type": "object",
                  "properties": {
                    "TrademarkIPOCode": {
                      "description": "The Intellectual Property Office (IPO) is the official body responsible for intellectual property (IP) rights including patents, designs, trademarks and copyright. (Code: UK or EU only)",
                      "type": "string",
                      "enum": [
                        "UK",
                        "EU"
                      ]
                    },
                    "TrademarkID": {
                      "description": "The trademark number that has been registered with the Intellectual Property Office. Note: The 2 letter IPO prefix should be omitted",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    }
                  },
                  "required": [
                    "TrademarkIPOCode",
                    "TrademarkID"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "ParentOrganisation",
                "Brand"
              ],
              "additionalProperties": false
            },
            "BranchName": {
              "description": "Name by which a party is known and which is usually used to identify that party",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "BranchIdentification": {
              "description": "Unique and unambiguous identification of a retail branch of a financial institution",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "BranchType": {
              "description": "Information on the type of branch",
              "type": "string",
              "enum": [
                "Physical",
                "Mobile"
              ]
            },
            "Address": {
              "description": "Postal Address",
              "type": "object",
              "properties": {
                "StreetName": {
                  "description": "Name of a street or thoroughfare",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 70
                },
                "BuildingNumberOrName": {
                  "description": "Number or Name that identifies the position of a building on a street",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 350
                },
                "PostCode": {
                  "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 16
                },
                "OptionalAddressField": {
                  "description": "Directions for customers",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 350
                },
                "TownName": {
                  "description": "Name of a built-up area, with defined boundaries, and a local government",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "CountrySubDivision": {
                  "description": "Identifies a subdivision of a country such as state, region, county",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "Country": {
                  "description": "Nation with its own government",
                  "type": "string",
                  "pattern": "[A-Z]{2}"
                }
              },
              "required": [
                "Country"
              ],
              "additionalProperties": false
            },
            "BranchDescription": {
              "description": "Description of the branch",
              "type": "string",
              "minLength": 1,
              "maxLength": 140
            },
            "BranchPhoto": {
              "description": "Image related to the branch",
              "type": "string",
              "format": "uri"
            },
            "TelephoneNumber": {
              "description": "Collection of information that identifies a phone number, as defined by telecom services.",
              "type": "string",
              "pattern": "^[+][0-9]{1,3}-[0-9()+-]{1,30}$"
            },
            "AlternatePhone": {
              "type": "array",
              "items": {
                "description": "Alternative Phone Number",
                "type": "object",
                "properties": {
                  "AlternateTelephoneNumber": {
                    "description": "Collection of information that identifies a phone number, as defined by telecom services.",
                    "type": "string",
                    "pattern": "^[+][0-9]{1,3}-[0-9()+-]{1,30}$"
                  },
                  "AlternateTelephoneNumberDescription": {
                    "description": "Description of the telephone number",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 35
                  }
                },
                "additionalProperties": false
              }
            },
            "FaxNumber": {
              "description": "Collection of information that identifies a FAX number, as defined by telecom services.",
              "type": "array",
              "items": {
                "description": "Collection of information that identifies a phone number, as defined by telecom services.",
                "type": "string",
                "pattern": "^[+][0-9]{1,3}-[0-9()+-]{1,30}$"
              }
            },
            "GeographicLocation": {
              "description": "Geographic Coordinates",
              "type": "object",
              "properties": {
                "Latitude": {
                  "description": "The Latitude measured in decimal format according to ISO 213",
                  "type": "string",
                  "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                },
                "Longitude": {
                  "description": "The longitude measured in decimal format according to ISO 213",
                  "type": "string",
                  "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                }
              },
              "required": [
                "Latitude",
                "Longitude"
              ],
              "additionalProperties": false
            },
            "DaysOfTheWeek": {
              "description": "Description on when the mobile branch is available. e.g. The weekend of Glastonbury festival; or Mondays and during the shrimp season also Wednesdays",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "StopName": {
              "description": "Name of the stop of the mobile branch",
              "type": "string",
              "minLength": 1,
              "maxLength": 15
            },
            "ArrivalTime": {
              "description": "Time that the mobile branch is scheduled to arrive",
              "type": "string",
              "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\\d{3}(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$"
            },
            "DepartureTime": {
              "description": "Time that the mobile branch is scheduled to depart",
              "type": "string",
              "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\\d{3}(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$"
            },
            "ParkingLocation": {
              "description": "Place where the mobile branch is located, such as between the news agent and the church.",
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            },
            "OpeningTimes": {
              "description": "Branch Opening Times",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "OpeningDay": {
                    "description": "Day of the week",
                    "enum": [
                      "Monday",
                      "Tuesday",
                      "Wednesday",
                      "Thursday",
                      "Friday",
                      "Saturday",
                      "Sunday",
                      "Public and Bank Holiday"
                    ],
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 35
                  },
                  "OpeningTime": {
                    "description": "ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\\d{3}(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$"
                  },
                  "ClosingTime": {
                    "description": "ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\\d{3}(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$"
                  },
                  "UnavailableStartTime": {
                    "description": "ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\\d{3}(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$"
                  },
                  "UnavailableFinishTime": {
                    "description": "ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\\d{3}(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$"
                  }
                },
                "required": [
                  "OpeningDay",
                  "OpeningTime",
                  "ClosingTime"
                ]
              },
              "minItems": 1,
              "additionalProperties": false
            },
            "PlannedBranchClosure": {
              "type": "array",
              "items": {
                "description": "Planned branch closure",
                "type": "object",
                "properties": {
                  "StartDate": {
                    "description": "Date when a branch is due to close temporarily or permanently",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "EndDate": {
                    "description": "Date when a branch is due to re-open following temporary closure",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  }
                },
                "additionalProperties": false
              }
            },
            "AccessibilityTypes": {
              "description": "Information about the accessibility",
              "type": "string",
              "enum": [
                "AudioCashMachine",
                "AutomaticDoors",
                "ChairAccess",
                "DriveThru",
                "ExternalRamp",
                "InductionLoop",
                "InternalRamp",
                "LevelAccess",
                "LowerLevelCounter",
                "WheelchairAccess"
              ]
            },
            "BranchSelfServeServiceName": {
              "type": "array",
              "items": {
                "description": "Information about self service branch services",
                "type": "string",
                "enum": [
                  "AccountVerificationService",
                  "AssistedServiceCounter",
                  "BusinessDepositTerminal",
                  "CashChequeDepositMachineCoin",
                  "CashChequeDepositMachineNoCoin",
                  "ExternalAtmAudio",
                  "ExternalAtmNoAudio",
                  "ExternalQuickServicePoint",
                  "InternalAtmAudio",
                  "InternalAtmNoAudio",
                  "InternalQuickServicePoint",
                  "LodgementDevice",
                  "OnlineBankingPoint",
                  "QuickDeposit",
                  "SaturdayCounterService",
                  "SelfServiceAccountOpening",
                  "StatementPrinter"
                ]
              },
              "uniqueItems": true
            },
            "BranchOtherSelfServices": {
              "description": "Self Services not described in BranchSelfServeServiceName",
              "type": "array",
              "items": {
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "BranchMediatedServiceName": {
              "description": "Information about mediated branch facilities",
              "type": "array",
              "items": {
                "description": "Information about mediated branch facilities",
                "type": "string",
                "enum": [
                  "BureauDeChange",
                  "BusinessCounter",
                  "CardIssuanceFacility",
                  "CounterServices",
                  "DriveThru",
                  "MortgageAdvisor",
                  "NightSafe",
                  "OnDemandCurrency",
                  "PremierCounter",
                  "VideoBanking",
                  "WheelChairAccess"
                ]
              },
              "uniqueItems": true
            },
            "BranchOtherMediatedServices": {
              "description": "Mediated Services not described in BranchMediatedServiceName",
              "type": "array",
              "items": {
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "BranchFacilitiesName": {
              "description": "Information about branch facilities",
              "type": "array",
              "items": {
                "description": "Information about branch facilities",
                "type": "string",
                "enum": [
                  "BusinessITSupport",
                  "CollectionLockers",
                  "MeetingRooms",
                  "Parking",
                  "Wifi"
                ]
              },
              "uniqueItems": true
            },
            "CustomerSegment": {
              "description": "Customer segment which the branch is able to service",
              "type": "array",
              "items": {
                "description": "Customer segment which the branch is able to service",
                "type": "string",
                "enum": [
                  "Business",
                  "Corporate",
                  "Personal",
                  "Premier",
                  "Private",
                  "Select",
                  "SME",
                  "Wealth"
                ]
              },
              "uniqueItems": true
            },
            "BranchOtherFacilities": {
              "description": "Any other facilities not mentioned in BranchFacilitiesName",
              "type": "array",
              "items": {
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "ATMAtBranch": {
              "description": "Indicated whether an ATM is at the branch",
              "type": "boolean"
            }
          },
          "required": [
            "Organisation",
            "BranchIdentification",
            "BranchType",
            "CustomerSegment",
            "Address",
            "TelephoneNumber",
            "OpeningTimes",
            "ATMAtBranch"
          ],
          "additionalProperties": false
        }
/atms:
  type:
    opendata:
      description: ATMs
      dataSchema: |-
        {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "ATM",
          "type": "object",
          "properties": {
            "Organisation": {
              "description": "Organisation",
              "type": "object",
              "properties": {
                "ParentOrganisation": {
                  "description": "Parent organisation",
                  "type": "object",
                  "properties": {
                    "LEI": {
                      "description": "The LEI ID of the organisation",
                      "type": "string",
                      "pattern": "^[A-Z0-9]{18,18}[0-9]{2,2}$"
                    },
                    "BIC": {
                      "description": "The BIC from the organisation",
                      "type": "string",
                      "pattern": "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                    },
                    "OrganisationName": {
                      "description": "Organisation Name",
                      "type": "object",
                      "properties": {
                        "LegalName": {
                          "description": "Legal Name of the organisation",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        }
                      },
                      "required": [
                        "LegalName"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "OrganisationName"
                  ],
                  "additionalProperties": false
                },
                "Brand": {
                  "description": "Brand",
                  "type": "object",
                  "properties": {
                    "TrademarkIPOCode": {
                      "description": "The Intellectual Property Office (IPO) is the official body responsible for intellectual property (IP) rights including patents, designs, trademarks and copyright. (Code: UK or EU only)",
                      "type": "string",
                      "enum": [
                        "UK",
                        "EU"
                      ]
                    },
                    "TrademarkID": {
                      "description": "The trademark number that has been registered with the Intellectual Property Office. Note: The 2 letter IPO prefix should be omitted",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    }
                  },
                  "required": [
                    "TrademarkIPOCode",
                    "TrademarkID"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "ParentOrganisation",
                "Brand"
              ],
              "additionalProperties": false
            },
            "BranchIdentification": {
              "description": "Unique and unambiguous identification of a retail branch of a financial institution",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "ATMID": {
              "description": "ATM terminal device identification for the acquirer and the issuer",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "LocationCategory": {
              "description": "Indicates the environment of the ATM",
              "type": "string",
              "enum": [
                "Airport",
                "BankSpecialisedOutlet",
                "BranchExternal",
                "BranchInternal",
                "BranchLobby",
                "BureauDeChange",
                "CoachStation",
                "CommercialSpaceInternal",
                "ConvenienceStore",
                "ExhibitionCentre",
                "FactoryOrOffice",
                "FillingStation",
                "FinancialInstitution",
                "GovernmentOffice",
                "Hospital",
                "Hotel",
                "KioskPod",
                "LeisureCentre",
                "PleasurePark",
                "PublicHouse",
                "RailwayStation",
                "RemoteUnit",
                "RetailerDepartmentStore",
                "RetailerOutlet",
                "SeaportTerminal",
                "ServiceStation",
                "ShoppingCentreExternal",
                "ShoppingCentreInternal",
                "StorageDepot",
                "SupermarketExternal",
                "SupermarketInternal",
                "UndergroundRailwayStation",
                "UniversityOrCollege"
              ]
            },
            "SiteID": {
              "description": "Site identifying code, where ATM is located",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "SiteName": {
              "description": "Site identifying name, where ATM is located",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "Address": {
              "description": "Postal Address",
              "type": "object",
              "properties": {
                "StreetName": {
                  "description": "Name of a street or thoroughfare",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 70
                },
                "BuildingNumberOrName": {
                  "description": "Number or Name that identifies the position of a building on a street",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 350
                },
                "PostCode": {
                  "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 16
                },
                "OptionalAddressField": {
                  "description": "Directions for customers",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 350
                },
                "TownName": {
                  "description": "Name of a built-up area, with defined boundaries, and a local government",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "CountrySubDivision": {
                  "description": "Identifies a subdivision of a country such as state, region, county",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "Country": {
                  "description": "Nation with its own government",
                  "type": "string",
                  "pattern": "[A-Z]{2}"
                }
              },
              "required": [
                "StreetName",
                "PostCode",
                "Country"
              ],
              "additionalProperties": false
            },
            "GeographicLocation": {
              "description": "Geographic Coordinates",
              "type": "object",
              "properties": {
                "Latitude": {
                  "description": "The Latitude measured in decimal format according to ISO 213",
                  "type": "string",
                  "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                },
                "Longitude": {
                  "description": "The longitude measured in decimal format according to ISO 213",
                  "type": "string",
                  "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                }
              },
              "required": [
                "Latitude",
                "Longitude"
              ],
              "additionalProperties": false
            },
            "AccessibilityTypes": {
              "description": "Information about the accessibility",
              "type": "array",
              "uniqueItems": true,
              "items": {
                "description": "Information about the accessibility",
                "type": "string",
                "enum": [
                  "AudioCashMachine",
                  "AutomaticDoors",
                  "ChairAccess",
                  "DriveThru",
                  "ExternalRamp",
                  "InductionLoop",
                  "InternalRamp",
                  "LevelAccess",
                  "LowerLevelCounter",
                  "WheelchairAccess"
                ]
              }
            },
            "SupportedLanguages": {
              "description": "Languages that the ATM supports",
              "type": "array",
              "items": {
                "description": "must be ISO 693-2 codes",
                "type": "string"
              },
              "minItems": 1
            },
            "ATMServices": {
              "description": "Information about ATM services",
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "description": "Information about ATM services",
                "type": "string",
                "enum": [
                  "Balance",
                  "BillPayments",
                  "CashDeposits",
                  "CashWithdrawal",
                  "CharityDonation",
                  "ChequeBookRequest",
                  "ChequeDeposits",
                  "FastCash",
                  "MiniStatement",
                  "MobileBankingRegistration",
                  "MobilePaymentRegistration",
                  "MobilePhoneTopUp",
                  "OrderStatement",
                  "PINActivation",
                  "PINChange"
                ]
              }
            },
            "AdditionalATMServices": {
              "description": "ATM Service Description",
              "type": "array",
              "items": {
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "Currency": {
              "description": "Defines currency type available for dispense",
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "description": "Active or Historic Currency Code",
                "type": "string",
                "pattern": "[A-Z]{3}"
              }
            },
            "MinimumValueDispensed": {
              "description": "Minimum currency denominations usually available",
              "type": "string",
              "enum": [
                "£5",
                "£10",
                "£20",
                "£50",
                "£100"
              ]
            }
          },
          "required": [
            "Organisation",
            "ATMID",
            "Address",
            "GeographicLocation",
            "SupportedLanguages",
            "ATMServices",
            "Currency"
          ],
          "additionalProperties": false
        }
/personal-current-accounts:
  type:
    opendata:
      description: Personal Current Accounts
      dataSchema: |-
        {
          "description": "Personal Current Account",
          "type": "object",
          "properties": {
            "Organisation": {
              "description": "Organisation",
              "type": "object",
              "properties": {
                "ParentOrganisation": {
                  "description": "Parent organisation",
                  "type": "object",
                  "properties": {
                    "LEI": {
                      "description": "The LEI ID of the organisation",
                      "type": "string",
                      "pattern": "^[A-Z0-9]{18,18}[0-9]{2,2}$"
                    },
                    "BIC": {
                      "description": "The BIC from the organisation",
                      "type": "string",
                      "pattern": "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                    },
                    "OrganisationName": {
                      "description": "Organisation Name",
                      "type": "object",
                      "properties": {
                        "LegalName": {
                          "description": "Legal Name of the organisation",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        }
                      },
                      "required": [
                        "LegalName"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "OrganisationName"
                  ],
                  "additionalProperties": false
                },
                "Brand": {
                  "description": "Brand",
                  "type": "object",
                  "properties": {
                    "TrademarkIPOCode": {
                      "description": "The Intellectual Property Office (IPO) is the official body responsible for intellectual property (IP) rights including patents, designs, trademarks and copyright. (Code: UK or EU only)",
                      "type": "string",
                      "enum": [
                        "UK",
                        "EU"
                      ]
                    },
                    "TrademarkID": {
                      "description": "The trademark number that has been registered with the Intellectual Property Office. Note: The 2 letter IPO prefix should be omitted",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    }
                  },
                  "required": [
                    "TrademarkIPOCode",
                    "TrademarkID"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "ParentOrganisation",
                "Brand"
              ],
              "additionalProperties": false
            },
            "ProductType": {
              "description": "Descriptive code for the product category",
              "type": "string",
              "enum": [
                "PCA"
              ]
            },
            "ProductName": {
              "description": "The name of the product used for marketing purposes from a customer perspective. i.e. what the customer would recognise",
              "type": "string"
            },
            "ProductSegment": {
              "type": "array",
              "items": {
                "description": "Marketing or industry segment that the product is designed for",
                "type": "string",
                "enum": [
                  "Basic",
                  "Business",
                  "General",
                  "Graduate",
                  "International",
                  "Packaged",
                  "Personal",
                  "Premium",
                  "Reward",
                  "SME",
                  "Student",
                  "YoungAdult",
                  "Youth"
                ]
              },
              "minItems": 1
            },
            "InternationalPaymentsSupported": {
              "description": "Indicates that the account supports international payments",
              "type": "boolean"
            },
            "ProductIdentifier": {
              "description": "Identifier within the parent organisation for the product. Must be unique in the organisation",
              "type": "string"
            },
            "CardWithdrawalLimit": {
              "description": "The daily Limit that a customer can get via the ATM. This describes the default limit rather than the maximum",
              "type": "string",
              "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
            },
            "ProductDescription": {
              "description": "Description of the product provided by the parent organisation",
              "type": "string"
            },
            "TsandCs": {
              "description": "URL provided by the parent organisation which redirects to the current T&Cs",
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1
            },
            "AccessChannels": {
              "description": "Ways to interact with the bank when managing account",
              "type": "array",
              "items": {
                "description": "Channel",
                "type": "string",
                "enum": [
                  "ATM",
                  "Branch",
                  "BusinessCommercialCentre",
                  "CallCentre",
                  "MobileApps",
                  "MobileBanking",
                  "Online",
                  "Phone",
                  "Post",
                  "PostOffice",
                  "RelationshipManager",
                  "Text"
                ]
              },
              "minItems": 1
            },
            "CardType": {
              "description": "Card Type available",
              "type": "array",
              "items": {
                "description": "Indicates the card scheme",
                "type": "string",
                "enum": [
                  "BasicCard",
                  "BusinessQuickLodgeCard",
                  "Cashcard",
                  "ContactlessCashcard",
                  "ContactlessDebitMastercard",
                  "ContactlessDebitVisa",
                  "DebitMastercard",
                  "VisaDebit",
                  "DepositCard",
                  "OperatorCard",
                  "POCACard"
                ]
              },
              "minItems": 1
            },
            "Contactless": {
              "description": "Does the card issued have contactless facility",
              "type": "boolean"
            },
            "MobileWallet": {
              "description": "Mobile wallet supported by this product. A mobile wallet being any electronic device that allows an individual to make electronic commerce transactions",
              "type": "array",
              "items": {
                "description": "Mobile wallet supported by this product. A mobile wallet being any electronic device that allows an individual to make electronic commerce transactions",
                "type": "string",
                "enum": [
                  "AndroidPay",
                  "ApplePay",
                  "IssuerMobileApp",
                  "MobileBankingApp",
                  "Other",
                  "PayM",
                  "SamsungPay",
                  "VodafoneWallet"
                ]
              }
            },
            "CardNotes": {
              "description": "Optional additional notes to supplement the card details",
              "type": "string"
            },
            "ChequeBookAvailable": {
              "description": "Can a chequebook be issued",
              "type": "boolean"
            },
            "CreditScoringPartOfAccountOpeningForGettingAnAccount": {
              "description": "Indicates whether a credit check performed on an inquiry to open an account is submitted",
              "type": "boolean"
            },
            "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
              "description": "Describes the type of credit scoring",
              "type": "array",
              "items": {
                "description": "Indicates the type of scoring",
                "type": "string",
                "enum": [
                  "Hard",
                  "Soft"
                ]
              }
            },
            "CreditScoringPartOfAccountOpeningText": {
              "description": "Details on the specific credit scoring",
              "type": "string"
            },
            "CreditScoringPartOfAccountOpeningForIDVerification": {
              "description": "Indicates whether a credit check is used to check the address of a potential new account holder",
              "type": "boolean"
            },
            "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
              "type": "array",
              "items": {
                "description": "Indicates the type of scoring",
                "type": "string",
                "enum": [
                  "Hard",
                  "Soft"
                ]
              }
            },
            "CreditScoringPartOfAccountOpeningIDVerificationText": {
              "description": "Details on the specific credit scoring",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "MonthlyMaximumCharge": {
              "description": "The maximum Relevant Charges that could accrue",
              "type": "string",
              "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
            },
            "ProductURL": {
              "description": "URL provided by the organisation which redirects to the product (on live products only). There might be more than one product at a given URL",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uri"
              },
              "minItems": 1
            },
            "Currency": {
              "description": "Currency of the Account. Default to GBP at present",
              "type": "array",
              "items": {
                "description": "Active or Historic Currency Code",
                "type": "string",
                "pattern": "[A-Z]{3}"
              },
              "minItems": 1
            },
            "OverdraftOffered": {
              "description": "Indicates whether an overdraft offered for this account",
              "type": "boolean"
            },
            "Feature": {
              "type": "array",
              "items": {
                "description": "Account Features",
                "type": "object",
                "properties": {
                  "ExistingFeature": {
                    "description": "Indicates whether the account has any feature",
                    "type": "boolean"
                  },
                  "ProductSubType": {
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "type": "string",
                    "enum": [
                      "FutureMultipleTerms",
                      "Promotional",
                      "Regular"
                    ]
                  },
                  "StartPromotionOrFutureTerms": {
                    "description": "Describes the start date",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "StopPromotionOrFutureTerms": {
                    "description": "Describes the end date",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "LengthPromotionalInDays": {
                    "description": "Describes the length if only a duration is given instead of a date",
                    "type": "integer"
                  },
                  "DateOfChange": {
                    "description": "Date of the change if it refers to future terms",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "FeatureDetails": {
                    "description": "Feature details",
                    "type": "array",
                    "items": {
                      "description": "Feature Details",
                      "type": "object",
                      "properties": {
                        "FeatureSubType": {
                          "description": "",
                          "type": "string",
                          "enum": [
                            "FutureMultipleTerms",
                            "Promotional",
                            "Regular"
                          ]
                        },
                        "StartPromotionOrFutureTerms": {
                          "description": "Describes the start date",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "StopPromotionOrFutureTerms": {
                          "description": "Describes the end date",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "LengthPromotionalInDays": {
                          "description": "Describes the length if only a duration is given instead of a date",
                          "type": "integer"
                        },
                        "DateOfChange": {
                          "description": "Date of the change if it refers to future terms",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "FeatureType": {
                          "description": "Type that represents the nature of the feature",
                          "type": "string"
                        },
                        "FeatureName": {
                          "description": "The name of the feature",
                          "type": "string"
                        },
                        "FeatureDescription": {
                          "description": "A textual explanation of what the feature",
                          "type": "string"
                        },
                        "FeatureValue": {
                          "description": "The value or values permissible for a specific feature for an individual product representing a product characteristic",
                          "type": "string"
                        },
                        "CriteriaType": {
                          "description": "Criteria that is required in order to be eligible for the feature",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "ExistingFeature"
                ]
              }
            },
            "CAPricing": {
              "type": "array",
              "items": {
                "description": "Card Price",
                "type": "object",
                "properties": {
                  "ProductSubType": {
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "type": "string",
                    "enum": [
                      "FutureMultipleTerms",
                      "Promotional",
                      "Regular"
                    ]
                  },
                  "CAPricingItem": {
                    "description": "Card Pricing",
                    "type": "object",
                    "properties": {
                      "StartPromotionOrFutureTerms": {
                        "description": "Describes the start date",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "StopPromotionOrFutureTerms": {
                        "description": "Describes the end date",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "LengthPromotionalInDays": {
                        "description": "Describes the length if only a duration is given instead of a date",
                        "type": "integer"
                      },
                      "DateOfChange": {
                        "description": "Date of the change if it refers to future terms",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "ExchangeRateAdjustment": {
                        "description": "The margin added, by certain card issuers, to the scheme rate in order to arrive at the exchange rate qouted as the reference exchange rate to the cardholder",
                        "type": "string",
                        "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "ProductSubType",
                  "CAPricingItem"
                ],
                "additionalProperties": false
              },
              "minItems": 1
            },
            "Eligibility": {
              "description": "Eligibility",
              "type": "object",
              "properties": {
                "AgeRestricted": {
                  "description": "Indicates a customer's age is part of eligibility criteria",
                  "type": "boolean"
                },
                "MinimumAge": {
                  "description": "Minimum age, in years, required to hold an account",
                  "type": "integer"
                },
                "MaximumAge": {
                  "description": "Maximum age, in years, allowed to hold the account",
                  "type": "integer"
                },
                "MaximumAgeToOpen": {
                  "description": "Maximum age, in years, to open an account",
                  "type": "integer"
                },
                "OtherFinancialHoldingRequired": {
                  "description": "Indicates that it is necessary to hold another product with the bank in order to be eligible for this product or feature",
                  "type": "boolean"
                },
                "Description": {
                  "description": "One paragraph detailing the eligibility",
                  "type": "string"
                },
                "IncomeTurnoverRelated": {
                  "description": "Indicates if eligibility linked to income",
                  "type": "boolean"
                },
                "SingleJointIncome": {
                  "description": "Minimum Income Source. For certain products a minimum income is required. This can be mandated as to the single income or to a joint income. This field describes this",
                  "type": "string",
                  "enum": [
                    "Joint",
                    "SoleIncome",
                    "SoleOrJoint",
                    "Turnover"
                  ]
                },
                "MinimumIncomeTurnoverAmount": {
                  "description": "Minimum income / Turnover required to hold the product",
                  "type": "string",
                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                },
                "MinimumIncomeTurnoverCurrency": {
                  "description": "Minimum income / Turnover Currency",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "IncomeCondition": {
                  "description": "Stipulates any particular definition of income that applies to the income eligibility and/or method by which income must paid into the account (eg Salary DD)",
                  "type": "string"
                },
                "MinIncomeTurnoverPaidIntoAccount": {
                  "description": "Minimum Income Amount required to paid into the account",
                  "type": "integer"
                },
                "MinimumIncomeFrequency": {
                  "description": "The frequency that the minimum mentioned before is deposited in the account. Yearly is very important for premium accounts",
                  "type": "string",
                  "enum": [
                    "AcademicTerm",
                    "HalfYearly",
                    "Monthly",
                    "Quarterly",
                    "Weekly",
                    "Yearly"
                  ]
                },
                "AnnualBusinessTurnover": {
                  "description": "Annual Business Turnover",
                  "type": "string",
                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                },
                "AnnualBusinessTurnoverCurrency": {
                  "description": "Annual Business Turnover Currency",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "ResidencyRestricted": {
                  "description": "Indicates a customer's residency forms part of the eligibility criteria",
                  "type": "boolean"
                },
                "ResidencyRestrictedRegion": {
                  "description": "Indicates a customer must be current resident of a geographic area/country",
                  "type": "string",
                  "enum": [
                    "UK",
                    "EEA",
                    "EU",
                    "EFTA",
                    "GB - ENG",
                    "GB - NIR",
                    "GB - SCT",
                    "GB - WLS",
                    "IRL"
                  ]
                },
                "MaxNumberOfAccounts": {
                  "description": "Maximum number of the same prodcut the customer may hold",
                  "type": "string"
                },
                "ThirdSectorOrganisations": {
                  "description": "Is the product available to operate as a Clubs or Societies account?",
                  "type": "boolean"
                },
                "MinimumDeposit": {
                  "description": "A minimum deposit required to hold this account",
                  "type": "boolean"
                },
                "OpeningDepositMinimum": {
                  "description": "Minimum Amount to be held on account",
                  "type": "string",
                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                },
                "OpeningDepositMinimumCurrency": {
                  "description": "The currency of the Minimum Amount to be depositing at opening",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "MinimumOperatingBalanceExists": {
                  "description": "Is there a Minimum Operating Balance?",
                  "type": "boolean"
                },
                "MinimumOperatingBalance": {
                  "description": "Minimum Operating Balance",
                  "type": "string",
                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                },
                "MinimumOperatingBalanceCurrency": {
                  "description": "Minimum Operating Balance currency",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "MaximumOpeningAmount": {
                  "description": "A maximum amount to be deposited at opening",
                  "type": "boolean"
                },
                "OpeningDepositMaximumAmount": {
                  "description": "Maximum Amount to be depositing at opening",
                  "type": "string",
                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                },
                "OpeningDepositMaximumCurrency": {
                  "description": "The currency of the Minimum Amount to be depositing at opening",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "EligibilityName": {
                  "description": "Free text description, denotes non standard eligibilities not included in the code list",
                  "type": "string"
                },
                "EligibilityType": {
                  "description": "Eligibility type",
                  "type": "string",
                  "enum": [
                    "AnyBusinessCustomer",
                    "BusinessOnly",
                    "CreditCard",
                    "CreditScoring",
                    "EmailAddress",
                    "ExistingCustomers",
                    "IdAndV",
                    "Mortgage",
                    "NoArrearsOnLoan",
                    "NoCustomerInArrears",
                    "NoOverOverdraftThirtyDays",
                    "NoSoleUkAccountOrBankrupt",
                    "NTB",
                    "NTBBusiness",
                    "SoleStudentAccount",
                    "SoleUkAccount",
                    "StudentsOnly",
                    "TwoMonthsOfCourseStart",
                    "UCASFulltimeTwoYears"
                  ]
                },
                "EligibilityNotes": {
                  "description": "Optional additional notes to supplement the eligibility conditions. Only used for very specific conditions",
                  "type": "string"
                },
                "PreviousBankruptcy": {
                  "description": "Describes if a previous bankruptcy / insolvency disqualfies for this account Details in ELI-280",
                  "type": "boolean"
                },
                "MarketingEligibility": {
                  "type": "array",
                  "items": {
                    "description": "Specific eligibility for marketing",
                    "type": "string",
                    "enum": [
                      "ExistingCustomers",
                      "NewCustomersOnly",
                      "SwitchersOnly",
                      "StartUp"
                    ]
                  },
                  "uniqueItems": true
                }
              },
              "required": [
                "AgeRestricted",
                "OtherFinancialHoldingRequired",
                "Description",
                "IncomeTurnoverRelated",
                "ResidencyRestricted",
                "ThirdSectorOrganisations",
                "PreviousBankruptcy"
              ],
              "additionalProperties": false
            },
            "CreditInterest": {
              "description": "Credit Interest",
              "type": "object",
              "properties": {
                "CreditCharged": {
                  "description": "Is credit paid to the account. The answer will be the condition of all other fields to be filled",
                  "type": "boolean"
                },
                "CreditInterestGroup": {
                  "type": "array",
                  "items": {
                    "description": "Credit Interest Group",
                    "type": "object",
                    "properties": {
                      "InterestTierSubType": {
                        "description": "Describes if the offering is promotional, regular or a description of a future state",
                        "type": "string",
                        "enum": [
                          "FutureMultipleTerms",
                          "Promotional",
                          "Regular"
                        ]
                      },
                      "CreditInterestItem": {
                        "description": "Credit Interest item",
                        "type": "object",
                        "properties": {
                          "StartPromotionOrFutureTerms": {
                            "description": "Describes the start date",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "StopPromotionOrFutureTerms": {
                            "description": "Describes the end date",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "LengthPromotionalInDays": {
                            "description": "Describes the length if only a duration is given instead of a date",
                            "type": "integer"
                          },
                          "DateOfChange": {
                            "description": "Date of the change if it refers to future terms",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "StartDate": {
                            "description": "If interest is charged on a specific date range as start date (often used for promotion)",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "EndDate": {
                            "description": "If interest is charged on a specific date range as end date (often used for promotion)",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "CalculationFrequency": {
                            "description": "How often is interest applied to account",
                            "type": "string",
                            "enum": [
                              "Month",
                              "Week",
                              "Year"
                            ]
                          },
                          "PaymentMethod": {
                            "description": "Credit Interest Payment Method Code",
                            "type": "string",
                            "enum": [
                              "Compound",
                              "PayAway",
                              "SelfCredit",
                              "SimpleInterest"
                            ]
                          },
                          "InterestRateType": {
                            "description": "Credit Interest Payment Rate Type",
                            "type": "string",
                            "enum": [
                              "Fixed",
                              "Variable"
                            ]
                          },
                          "FixedInterestLength": {
                            "description": "Fixed interest length in days",
                            "type": "integer"
                          },
                          "CalculationMethod": {
                            "description": "Method for interest calculation",
                            "type": "string",
                            "enum": [
                              "Banded",
                              "Tiered",
                              "Whole"
                            ]
                          },
                          "InterestTiers": {
                            "type": "array",
                            "items": {
                              "description": "Credit Interest Tiers",
                              "type": "object",
                              "properties": {
                                "InterestTier": {
                                  "description": "Identifier for the tier",
                                  "type": "string"
                                },
                                "TierValueMinimum": {
                                  "description": "Lower value of interest tier",
                                  "type": "string",
                                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                                },
                                "DailyChargeForMinimum": {
                                  "description": "Special charge on tiered overdraft",
                                  "type": "string",
                                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                                },
                                "TierValueMaximum": {
                                  "description": "Max Value of interst tier",
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 15
                                },
                                "DailyChargeForMaximum": {
                                  "description": "Special charge on tiered overdraft",
                                  "type": "string",
                                  "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                                },
                                "Rate": {
                                  "description": "Rate being paid by the bank (gross)",
                                  "type": "string",
                                  "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                                },
                                "RateComparisonType": {
                                  "description": "Rate Comparison Type",
                                  "type": "string",
                                  "enum": [
                                    "APR",
                                    "AER",
                                    "Gross",
                                    "Net",
                                    "RepApr"
                                  ]
                                },
                                "APRAERRate": {
                                  "description": "AER or APR Rate for comparison",
                                  "type": "string",
                                  "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "InterestNotes": {
                            "description": "Additional notes to supplement the interest details",
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "CreditInterestItem"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "CreditCharged"
              ],
              "additionalProperties": false
            },
            "Overdraft": {
              "type": "array",
              "items": {
                "description": "Overdraft",
                "type": "object",
                "properties": {
                  "InterestProductSubType": {
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "type": "string",
                    "enum": [
                      "FutureMultipleTerms",
                      "Promotional",
                      "Regular"
                    ]
                  },
                  "StartPromotionOrFutureTerms": {
                    "description": "Describes the start date",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "StopPromotionOrFutureTerms": {
                    "description": "Describes the end date",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "LengthPromotionalInDays": {
                    "description": "Describes the length if only a duration is given instead of a date",
                    "type": "integer"
                  },
                  "DateOfChange": {
                    "description": "Date of the change if it refers to future terms",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "OverdraftPricing": {
                    "description": "Overdraft Pricing",
                    "type": "object",
                    "properties": {
                      "ApplicableTo": {
                        "description": "Personal Interest Tiers",
                        "type": "object",
                        "properties": {
                          "InterestTierSME": {
                            "description": "Identifier for tier only where it has been supplied under Part 8 (article 32 or the CMA order), value reflects upper tier value",
                            "type": "string",
                            "enum": [
                              "£5000",
                              "£10000",
                              "£15000",
                              "£20000",
                              "£25000",
                              "Other",
                              "TierMaximum",
                              "TierMinimum"
                            ]
                          },
                          "InterestTierPersonal": {
                            "description": "Identifier for the tier",
                            "type": "string"
                          }
                        },
                        "minProperties": 1,
                        "maxProperties": 1,
                        "additionalProperties": false
                      },
                      "Tiers": {
                        "type": "array",
                        "items": {
                          "description": "Tiers",
                          "type": "object",
                          "properties": {
                            "TierType": {
                              "description": "Tier Type",
                              "type": "object",
                              "properties": {
                                "ArrangedOverdraftInterestTier": {
                                  "description": "Arranged overdraft interest tier",
                                  "type": "integer"
                                },
                                "UnarrangedOverdraftInterestTier": {
                                  "description": "Unarranged overdraft interest tier",
                                  "type": "integer"
                                }
                              },
                              "minProperties": 1,
                              "maxProperties": 1,
                              "additionalProperties": false
                            },
                            "TierValueMinimum": {
                              "description": "Lower value of interest tier",
                              "type": "string",
                              "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                            },
                            "TierValueMaximum": {
                              "description": "Max Value of interest tier",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 15
                            }
                          },
                          "additionalProperties": false
                        },
                        "minItems": 1
                      },
                      "InterestRateEARpa": {
                        "description": "Interest rate applied to tier",
                        "type": "string",
                        "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                      },
                      "RepresentativeRate": {
                        "description": "Interest rate at AER",
                        "type": "string",
                        "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                      },
                      "InterestNotes": {
                        "description": "Optional additional notes to supplement the interest details",
                        "type": "string"
                      },
                      "TotalOverdraftChargeAmount": {
                        "description": "All charges that a customer could incur as a result of exceeding or attempting to exceed a Pre-agreed credit limit",
                        "type": "string",
                        "enum": [
                          "Banded",
                          "Tiered",
                          "Whole"
                        ]
                      },
                      "MinUnarrangedOverdraftAmount": {
                        "description": "Minimum Unarranged Overdraft Amount if applicable",
                        "type": "string",
                        "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                      },
                      "InterestRate": {
                        "description": "interest rate applied to tier",
                        "type": "string",
                        "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                      },
                      "InterestRateCalculationFrequency": {
                        "description": "Frequency at which interest is calculated and accrued",
                        "type": "string",
                        "enum": [
                          "Annual",
                          "Daily",
                          "Monthly",
                          "Quarterly"
                        ]
                      },
                      "InterestApplicationFrequency": {
                        "description": "When the interest is applied",
                        "type": "string",
                        "enum": [
                          "Annual",
                          "Daily",
                          "Monthly",
                          "Quarterly",
                          "StatementDate"
                        ]
                      },
                      "DailyCharge": {
                        "description": "Maximum daily overdraft charge",
                        "type": "string",
                        "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                      },
                      "MonthlyCharge": {
                        "description": "Maximum monthly overdraft charge",
                        "type": "string",
                        "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                      },
                      "ItemCharge": {
                        "description": "Arranged overdraft item charge",
                        "type": "string",
                        "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                      },
                      "OtherCharge": {
                        "description": "Other flat charge levied when overdrawn (Arranged)",
                        "type": "string",
                        "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                      },
                      "OverdraftNotes": {
                        "description": "Supplementary notes for overdrafts",
                        "type": "string"
                      },
                      "RatesAreNegotiable": {
                        "description": "Value that expresses if the rates are negotiable",
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "IndicativeRate": {
                        "description": "Indicative Rate that the client will get",
                        "type": "string"
                      },
                      "BufferAmount": {
                        "description": "Amount on overdraft that is prearranged",
                        "type": "string",
                        "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                      }
                    },
                    "required": [
                      "ApplicableTo",
                      "Tiers"
                    ],
                    "additionalProperties": false
                  },
                  "MaximumMonthlyOverdraftCharge": {
                    "description": "Maximum monthly overdraft charge",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  },
                  "MaximumDailyOverdraftCharge": {
                    "description": "Maximum daily overdraft charge",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  },
                  "OverdraftType": {
                    "description": "Opposite of repayable on demand",
                    "type": "string",
                    "enum": [
                      "Committed",
                      "OnDemand"
                    ]
                  },
                  "Term": {
                    "description": "The duration of the overdraft, if it is non permanent",
                    "type": "string"
                  },
                  "SetUpFeesAmount": {
                    "description": "Fees to set up the overdraft",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  },
                  "SetUpFeesRate": {
                    "description": "Rate to set up the overdraft",
                    "type": "string",
                    "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                  },
                  "ReviewFee": {
                    "description": "Fee to review overdraft limit",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  },
                  "MinimumFee": {
                    "description": "Minimum overdraft fee",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  },
                  "AnnualRenewalRate": {
                    "description": "Rate to renew overdraft",
                    "type": "string",
                    "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                  },
                  "AnnualRenewalFee": {
                    "description": "Fee payable per term for overdraft",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  },
                  "MinimumSetupFee": {
                    "description": "The minimum amount charged for an overdraft set up",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  },
                  "RenewalRate": {
                    "description": "Rate to renew overdraft",
                    "type": "string",
                    "pattern": "^-?\\d{1,3}\\.\\d{1,4}$"
                  },
                  "MinimumRenewalFee": {
                    "description": "The minimum amount charged for the annual renewal",
                    "type": "string",
                    "pattern": "^-?\\d{1,10}\\.\\d{1,2}$"
                  }
                },
                "additionalProperties": false
              }
            },
            "FeesAndCharges": {
              "type": "array",
              "items": {
                "description": "Fees And Charges",
                "type": "object",
                "properties": {
                  "ProductSubType": {
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "type": "string",
                    "enum": [
                      "FutureMultipleTerms",
                      "Promotional",
                      "Regular"
                    ]
                  },
                  "Fees": {
                    "description": "Fees",
                    "type": "object",
                    "properties": {
                      "StartPromotionOrFutureTerms": {
                        "description": "Describes the start date",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "StopPromotionOrFutureTerms": {
                        "description": "Describes the end date",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "LengthPromotionalInDays": {
                        "description": "Describes the length if only a duration is given instead of a date",
                        "type": "integer"
                      },
                      "DateOfChange": {
                        "description": "Date of the change if it refers to future terms",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "FeeLowerTier": {
                        "description": "Lower occurrence / range boundary e.g.. For returned cheques this could be 0, which means the first returned cheque fits into this range",
                        "type": "integer"
                      },
                      "FeeHigherTier": {
                        "description": "Higher occurrence / range boundary e.g. For returned cheques this could be 10, which means the first 10 returned cheque fits into this range",
                        "type": "integer"
                      },
                      "FeeDetails": {
                        "type": "array",
                        "items": {
                          "description": "Fee Details",
                          "type": "object",
                          "properties": {
                            "FeeSubType": {
                              "description": "Fee Sub Type code",
                              "type": "string",
                              "enum": [
                                "FutureMultipleTerms",
                                "Promotional",
                                "Regular"
                              ]
                            },
                            "FeeDetail": {
                              "description": "Fee Detail",
                              "type": "object",
                              "properties": {
                                "FeeType": {
                                  "description": "A description of the Fee type",
                                  "type": "string",
                                  "enum": [
                                    "Account Fee",
                                    "Incoming CHAPS Fee",
                                    "Outgoing CHAPS Fee",
                                    "Foreign Currency",
                                    "Foreign Currency Withdrawal Fee (% of Tx - Min £2 - Max £5)",
                                    "Non Sterling Transaction Fee (Cash Withdrawal)",
                                    "SEPA Fee",
                                    "Stopped Cheque Fee",
                                    "Copy of Cheque Fee",
                                    "Cheque Transaction Fee",
                                    "Manual Debit Fee",
                                    "Counter Draft",
                                    "Unpaid Transaction Fee",
                                    "Special Cheque Presentation",
                                    "Court Order Fee",
                                    "Bankers Draft Fee",
                                    "Statement Copy Fee",
                                    "Bankers Reference Fee",
                                    "Personalised Card Fee",
                                    "Sterling Travellers Cheque (% of Tx - Min £2 - Max £5)",
                                    "International Payments Charge",
                                    "Other",
                                    "Cash payment In",
                                    "Cash payment Out",
                                    "Daily Monitoring",
                                    "Weekly Monitoring",
                                    "Monthly Monitoring",
                                    "Status Enquiry",
                                    "Audit Letter",
                                    "Credits paid in via night Safe",
                                    "Credit paid In via Depos ATM",
                                    "Telepay or Teledebit Item",
                                    "Balance Handlng Fee",
                                    "Late payment",
                                    "Loan arrangement",
                                    "Early Repayment charge",
                                    "Over credit limit fee",
                                    "Return payment fee",
                                    "Payment Scheme Exchange Rate",
                                    "Payment Scheme Exchange Fee",
                                    "Payment Scheme Exchange Fee Rate",
                                    "Non-Sterling Transaction fee",
                                    "Non-Sterling Transaction fee rate",
                                    "Non-Sterling Purchase Fee",
                                    "Non-Sterling Purchase Fee rate",
                                    "Non-Sterling Cash Fee",
                                    "Non-Sterling Cash Fee Rate",
                                    "Foreign Purchase Fee",
                                    "Foreign Purchase Fee Rate",
                                    "Foreign Cash Fee",
                                    "Foreign Cash Fee Rate",
                                    "Early Repayment Charges",
                                    "Tiered arrangement fees",
                                    "Monthly Account Maintenance Fee",
                                    "UK Sterling Direct Debits",
                                    "Standing order",
                                    "Business Debit card transaction (excluding ATM)",
                                    "ATM withdrawals (from a non-group ATM)",
                                    "ATM withdrawals (from a group ATM)",
                                    "Internet Bulk Payment - batch",
                                    "Automated credit",
                                    "Automated credit - Telephone and Internet Banking",
                                    "Automated credit –Faster Payments inbound",
                                    "Internet Bulk Payment –per item",
                                    "Faster Payments outbound",
                                    "Transfer to an account outside of the group",
                                    "Cheque paid in (or Postal Order)",
                                    "Cheques Out",
                                    "Cash paid in",
                                    "Cash paid out at own counter",
                                    "Other debit",
                                    "Other credit",
                                    "Credit paid in at another bank",
                                    "Cash exchanged",
                                    "Bacs – batch file submitted",
                                    "Bacs – debit or credit item",
                                    "Cardnet envelope paid in",
                                    "Credit paid in via Night Safe - up to £5K",
                                    "International payment Internet banking",
                                    "Express International Moneymover Branch",
                                    "Standard International Moneymover Branch",
                                    "Non-urgent Euro (SEPA)1 Branch",
                                    "International draft payable abroad Branch",
                                    "Electronic payments received from abroad Up to £100",
                                    "Electronic payments received from abroad over £100",
                                    "Foreign cheque/draft",
                                    "Cheques/drafts (including dividend warrants) payable in foreign currency or Sterling drawn abroad",
                                    "Cheques/drafts (including dividend warrants) payable in foreign currency drawn in the UK",
                                    "Unpaid charge (if the cheque/draft is not honoured by the paying bank)",
                                    "Status enquiries abroad",
                                    "Status enquiries abroad (if sent electronically) additional",
                                    "After an international payment has been sent abroad - Beneficiary claiming non-receipt of funds (BCNR) ",
                                    "After an international payment has been sent abroad - Recalling a payment",
                                    "First legal mortgage over a property, such as business premises",
                                    "Second or subsequent legal mortgage over a property, such as a house or business premises",
                                    "Unpaid Item",
                                    "SMS Text alerts",
                                    "SME unsecured loan fee",
[...]
