#%RAML 0.8
---
title: Open Data
version: v0
protocols:
  - HTTPS
baseUri: 'https://api.openbanking.xyz/open-banking/v0'
mediaType: application/json
traits:
  - retrievable:
      responses:
        '200':
          headers:
            Strict-Transport-Security:
              description: >
                Ensures that the endpoint will only be accessed via HTTPS, for a
                period of up to one year.
              default: max-age=31536000
              required: true
            X-Frame-Options:
              description: >
                Ensures that the content served by this endpoint cannot be
                loaded in an embedded IFRAME element.
              default: DENY
              required: true
            ETag:
              description: >
                Textual value used for determining freshness of content being
                served.
              required: true
            Content-Type:
              default: application/prs.openbanking.opendata.v0+json
              required: true
            X-Content-Type-Options:
              description: >
                Ensures each page has a content type and prevents browsers from
                doing MIME type sniffing
              default: nosniff
              required: true
        '400':
          description: |
            Failure. You have sent a request which could not be understood.
          body:
            application/json:
              schema: http-error-400
              example: |
                {
                  "status": "400",
                  "title": "Bad request",
                  "description": "You have sent a request which could not be understood."
                }
        '408':
          description: >
            Failure. Your client has failed to submit a request, and a timeout
            has occurred.
          body:
            application/json:
              schema: http-error-408
              example: |
                {
                  "status": "408",
                  "title": "Client timeout",
                  "description": "Your client has failed to submit a request, and a timeout has occurred."
                }
        '429':
          description: |
            Failure. You have requested this resource too often. Slow down.
          body:
            application/json:
              schema: http-error-429
              example: |
                {
                  "status": "429",
                  "title": "Too many requests",
                  "description": "You have requested this resource too often. Slow down."
                }
        '500':
          description: >
            Failure. An error occurred on the server. No further information is
            available.
          body:
            application/json:
              schema: http-error-500
              example: |
                {
                  "status": "500",
                  "title": "Internal server error",
                  "description": "An error occurred on the server. No further information is available."
                }
        '503':
          description: |
            Failure. The service is temporarily unavailable.
          body:
            application/json:
              schema: http-error-503
              example: |
                {
                  "status": "503",
                  "title": "Service temporarily unavailable",
                  "description": "The service is temporarily unavailable."
                }
  - http-metadata:
      responses:
        '200':
          description: >
            Success. Returns metadata about this resource via HTTP headers. No
            actual content is returned

            when this method is invoked.
  - request-params:
      headers:
        If-Modified-Since:
          description: |
            Used for conditional request, to retrieve data
            only if modified since a given date
        If-None-Match:
          description: |
            Used for conditional request, to retrieve data only
            if the given Etag value does not match
schemas:
  - http-error-400: |
      {
        "title": "400 Error object",
        "type": "object",
        "properties": {
          "status": {
            "enum": [ "400" ]
          },
          "title": {
            "enum": [ "Bad request" ]
          },
          "description": {
            "enum": [ "You have sent a request which could not be understood." ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-408: |
      {
        "title": "408 Error object",
        "type": "object",
        "properties": {
          "status": {
            "enum": [ "408" ]
          },
          "title": {
            "enum": [ "Client timeout" ]
          },
          "description": {
            "enum": [ "Your client has failed to submit a request, and a timeout has occurred." ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-429: |
      {
        "title": "429 Error object",
        "type": "object",
        "properties": {
          "status": {
            "enum": [ "429" ]
          },
          "title": {
            "enum": [ "Too many requests" ]
          },
          "description": {
            "enum": [ "You have requested this resource too often. Slow down." ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-500: |
      {
        "title": "500 Error object",
        "type": "object",
        "properties": {
          "status": {
            "enum": [ "500" ]
          },
          "title": {
            "enum": [ "Internal server error" ]
          },
          "description": {
            "enum": [ "An error occurred on the server. No further information is available." ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
  - http-error-503: |
      {
        "title": "503 Error object",
        "type": "object",
        "properties": {
          "status": {
            "enum": [ "503" ]
          },
          "title": {
            "enum": [ "Service temporarily unavailable" ]
          },
          "description": {
            "enum": [ "The service is temporarily unavailable." ]
          }
        },
        "required": [
          "status",
          "title",
          "description"
        ],
        "additionalProperties": false
      }
resourceTypes:
  - opendata:
      head:
        description: Retrieve metadata about the current set of all <<description>>.
        is:
          - retrievable
          - http-metadata
          - request-params
      get:
        description: Retrieve information about all <<description>>.
        is:
          - retrievable
          - request-params
        responses:
          '200':
            body:
              application/json:
                schema: |
                  {
                   "type": "object",
                   "properties": {
                     "meta": {
                       "title": "Meta data",
                       "type": "object",
                       "properties": {
                         "LastUpdated": {
                             "type": "string",
                             "format": "date-time"
                         },
                         "TotalResults": {
                             "type": "integer"
                         },
                         "License": {
                           "description": "Open-Banking License",
                           "type": "string",
                           "format": "uri"
                         },
                         "TermsOfUse": {
                           "description": "Open Banking Terms of Use",
                           "type": "string",
                           "format": "uri"
                         }
                       },
                        "required": [ "LastUpdated", "TotalResults", "License", "TermsOfUse" ]
                      },
                      "data": {
                        "type": "array",
                        "items": <<dataSchema>>
                     }
                   },
                   "required": [ "meta", "data" ],
                   "additionalProperties": false
                   }
documentation:
  - title: Home
    content: >
      Welcome to the Open Banking Open Data API specification. This is a working
      draft

      reflecting the progress of the Implementation Entity Working Group.
/branches:
  type:
    opendata:
      description: Bank Branches
      dataSchema: |-
        {
          "id": "http://localhost:8000/schemas/v0/branch.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Branch",
          "type": "object",
          "properties": {
            "Organisation": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/organisation.json#",
              "description": "Organisation",
              "type": "object",
              "properties": {
                "ParentGroupName": {
                  "description": "Parent company that owns or partially owns subsidiary organisations",
                  "type": "string"
                },
                "ParentGroupID": {
                  "description": "Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/bic.json#",
                  "type": "string",
                  "pattern": "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                },
                "BrandName": {
                  "description": "Name by which an organisation is known that is printed on top of the ATM",
                  "type": "string"
                },
                "BrandID": {
                  "description": "Unique and unambiguous way to identify the organisation that is shown on top of the ATM",
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": ["ParentGroupName", "ParentGroupID", "BrandName", "BrandID"],
              "additionalProperties": false
            },
            "BranchName": {
              "description": "Name by which a party is known and which is usually used to identify that party",
              "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "BranchIdentification": {
              "description": "Unique and unambiguous identification of a retail branch of a financial institution",
              "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "BranchType": {
              "id": "http://localhost:8000/schemas/v0/definitions/branch/branch_type.json#",
              "description": "Information on the type of branch",
              "enum": ["Physical", "Mobile"]
            },
            "Address": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/postal_address.json#",
              "description": "Postal Address",
              "type": "object",
              "properties": {
                "StrtNm": {
                  "description": "Name of a street or thoroughfare",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_70_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 70
                },
                "BldgNb": {
                  "description": "Number or Name that identifies the position of a building on a street",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_140_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 350
                },
                "PstCd": {
                  "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_16_text.json#",
                  "type": "string",
                  "maxLength": 16
                },
                "OptionalAddressField": {
                  "description": "Additional field; often directions",
                  "type": "string"
                },
                "TwnNm": {
                  "description": "Name of a built-up area, with defined boundaries, and a local government",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "CtrySubDvsn": {
                  "description": "Identifies a subdivision of a country such as state, region, county",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "Ctry": {
                  "description": "Nation with its own government",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/country_code.json#",
                  "type": "string",
                  "pattern": "[A-Z]{2}"
                }
              },
              "required": ["StrtNm", "PstCd", "Ctry"],
              "additionalProperties": false
            },
            "BranchDescription": {
              "description": "Description of the branch",
              "id": "http://localhost:8000/schemas/v0/definitions/common/max_140_text.json#",
              "type": "string",
              "minLength": 1,
              "maxLength": 140
            },
            "BranchPhoto": {
              "description": "Image related to the branch",
              "type": "string",
              "format": "uri"
            },
            "TelephoneNumber": {
              "description": "Collection of information that identifies a phone number, as defined by telecom services.",
              "id": "http://localhost:8000/schemas/v0/definitions/common/phone_number.json#",
              "type": "string",
              "pattern": "\\+[0-9]{1,3}-[0-9()+\\-]{1,30}"
            },
            "AlternatePhone": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/alternative_phone_number.json#",
                "description": "Alternative Phone Number",
                "type": "object",
                "properties": {
                  "AlternativeTelephoneNumber": {
                    "description": "Collection of information that identifies a phone number, as defined by telecom services.",
                    "id": "http://localhost:8000/schemas/v0/definitions/common/phone_number.json#",
                    "type": "string",
                    "pattern": "\\+[0-9]{1,3}-[0-9()+\\-]{1,30}"
                  },
                  "AlternativeTelephoneNumberDescription": {
                    "description": "Description of the telephone number",
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            },
            "FaxNumber": {
              "description": "Collection of information that identifies a FAX number, as defined by telecom services.",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/phone_number.json#",
                "description": "Collection of information that identifies a phone number, as defined by telecom services.",
                "type": "string",
                "pattern": "\\+[0-9]{1,3}-[0-9()+\\-]{1,30}"
              }
            },
            "GeographicLocation": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/geographic_coordinates.json#",
              "description": "Geographic Coordinates",
              "type": "object",
              "properties": {
                "Lat": {
                  "description": "Latitude measured in degrees, minutes and seconds, following by 'N' for North and 'S' for South of the Equator (for example 48°51'29'' N for the Eiffel Tower latitude)",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_16_text.json#",
                  "type": "string",
                  "maxLength": 16
                },
                "Long": {
                  "description": "Angular measurement of the distance of a location on the Earth East or West of the Greenwich Observatory. The longitude is measured in degrees, minutes and seconds, following by 'E' for East and 'W' for West (for example 2°17'4'' E for the Eiffel Tower longitude)",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_16_text.json#",
                  "type": "string",
                  "maxLength": 16
                }
              },
              "required": ["Lat", "Long"],
              "additionalProperties": false
            },
            "DaysOfTheWeek": {
              "description": "Number of days that the mobile branch is available",
              "type": "integer"
            },
            "StopName": {
              "description": "Name of the stop of the mobile branch",
              "type": "string"
            },
            "ArrivalTime": {
              "description": "Arrival time of the mobile branch",
              "id": "http://localhost:8000/schemas/v0/definitions/common/time.json#",
              "type": "string",
              "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
            },
            "DepartureTime": {
              "description": "Departure time of the mobile branch",
              "id": "http://localhost:8000/schemas/v0/definitions/common/time.json#",
              "type": "string",
              "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
            },
            "ParkingLocation": {
              "description": "Parking place of the mobile branch",
              "type": "string"
            },
            "OpeningTimes": {
              "id": "http://localhost:8000/schemas/v0/definitions/branch/opening_details.json#",
              "description": "Branch Opening Times",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "OpeningDay": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/day.json#",
                    "description": "Day of the week",
                    "enum": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Public and Bank Holiday"]
                  },
                  "OpeningTime": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/time.json#",
                    "description": "Time Definition HH:MM:SS",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
                  },
                  "ClosingTime": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/time.json#",
                    "description": "Time Definition HH:MM:SS",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
                  },
                  "UnavailableStartTime": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/time.json#",
                    "description": "Time Definition HH:MM:SS",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
                  },
                  "UnavailableFinishTime": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/time.json#",
                    "description": "Time Definition HH:MM:SS",
                    "type": "string",
                    "pattern": "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
                  }
                },
                "required": ["OpeningDay", "OpeningTime", "ClosingTime"]
              },
              "minItems": 1,
              "additionalProperties": false
            },
            "PlannedBranchClosure": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/branch/closure.json#",
                "description": "Planned branch closure",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "StartDate": {
                      "description": "Date when a branch is due to close temporarily or permanently",
                      "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                      "type": "string",
                      "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                    },
                    "EndDate": {
                      "description": "Date when a branch is due to re-open following temporary closure",
                      "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                      "type": "string",
                      "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                    }
                  },
                  "required": ["StartDate", "EndDate"]
                },
                "additionalProperties": false
              }
            },
            "AccessibilityTypes": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/accessibility_types.json#",
              "description": "Information about the accessibility",
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["Automatic Doors", "Lower Level Counter", "Induction Loop", "Wheelchair Access", "External Ramp", "Internal Ramp", "Level Access", "Helping Hand Unit"]
              }
            },
            "BranchSelfServeServiceName": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/branch/self_serve.json#",
                "description": "Information about self service branch services",
                "enum": ["Internal ATM with Audio", "External ATM with Audio", "Internal ATM without Audio", "External ATM without Audio", "Online Banking Point", "Assisted Service Counter", "Quick Deposit", "External Quick Service Point", "Internal Quick Service Point", "Digital Self Service Account Opening", "Business Deposit Terminal", "Account Verification Service", "Statement Printer", "Lodgement Device", "Saturday Counter Service", "Cash and Cheque Deposit Machine (Coin)", "Cash and Cheque Deposit Machine (No Coin)"]
              },
              "uniqueItems": true
            },
            "BranchSelfServeServiceDescription": {
              "description": "Additional information about self service branch services",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/max_140_text.json#",
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "BranchMediatedServiceName": {
              "description": "Information about mediated branch facilities",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/mediated.json#",
                "description": "Information about mediated branch facilities",
                "enum": ["Counter Service", "Mortgage Advisor", "Night Safe", "Video Banking", "Premier Counter", "Card Insurance Facilities", "Bureau de Change", "Business Counter", "On Demand Currency"]
              },
              "uniqueItems": true
            },
            "BranchMediatedServiceDescription": {
              "description": "Additional information about mediated branch facilities, such as waiting areas with seats available for business banking (if waiting)",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/max_140_text.json#",
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "BranchFacilitiesName": {
              "description": "Information about branch facilities",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/branch/facility.json#",
                "description": "Information about branch facilities",
                "enum": ["Wifi", "Parking", "Meeting Room(s)", "Eagle Lab", "Amazon Click and Collect Lockers"]
              },
              "uniqueItems": true
            },
            "CustomerSegment": {
              "description": "Customer segment which the branch is able to service",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/branch/segment.json#",
                "description": "Customer segment which the branch is able to service",
                "enum": ["Personal", "Business", "SME", "Wealth", "Corporate", "Premier Branch"]
              },
              "uniqueItems": true
            },
            "BranchFacilitiesDescription": {
              "description": "Additional information about branch facilities, such as specific lights",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/max_140_text.json#",
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "ATMAtBranch": {
              "description": "Indicated whether an ATM is at the branch",
              "type": "boolean"
            }
          },
          "required": ["Organisation", "BranchIdentification", "BranchType", "Address", "TelephoneNumber", "GeographicLocation", "OpeningTimes", "ATMAtBranch"],
          "additionalProperties": false
        }
/atms:
  type:
    opendata:
      description: ATMs
      dataSchema: |-
        {
          "id": "http://localhost:8000/schemas/v0/atm.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "ATM",
          "type": "object",
          "properties": {
            "Organisation": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/organisation.json#",
              "description": "Organisation",
              "type": "object",
              "properties": {
                "ParentGroupName": {
                  "description": "Parent company that owns or partially owns subsidiary organisations",
                  "type": "string"
                },
                "ParentGroupID": {
                  "description": "Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/bic.json#",
                  "type": "string",
                  "pattern": "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                },
                "BrandName": {
                  "description": "Name by which an organisation is known that is printed on top of the ATM",
                  "type": "string"
                },
                "BrandID": {
                  "description": "Unique and unambiguous way to identify the organisation that is shown on top of the ATM",
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": ["ParentGroupName", "ParentGroupID", "BrandName", "BrandID"],
              "additionalProperties": false
            },
            "BranchIdentification": {
              "description": "Unique and unambiguous identification of a retail branch of a financial institution",
              "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "ATMID": {
              "description": "ATM terminal device identification for the acquirer and the issuer",
              "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "LocationCategory": {
              "description": "Indicates the environment of the ATM",
              "id": "http://localhost:8000/schemas/v0/definitions/atm/location_category.json#",
              "enum": ["Airport", "Bank Office", "Bank Specialised Outlet", "Branch", "Branch Customer Area", "Branch Lobby", "Branch Wall", "Bureau de Change", "Coach Station", "Convenience Store", "Exhibition Centre", "Factory", "Office", "Financial Institution", "Hospital", "Hotel", "House of Commons", "House of Lords", "Leisure Centre", "Ministry of Defence", "Motorway Services", "Petrol Station", "Pleasure Park", "Public House", "Railway Station", "Railway Station (Underground)", "Remote Unit", "Retailer", "Department Store", "Retailer Outlet", "Seaport", "Shopping Centre", "Supermarket", "University", "College", "Bank External", "Restricted Access", "Commercial Space"]
            },
            "SiteID": {
              "description": "Site identifying code, where ATM is located",
              "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "SiteName": {
              "description": "Site identifying name, where ATM is located",
              "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            },
            "Address": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/postal_address.json#",
              "description": "Postal Address",
              "type": "object",
              "properties": {
                "StrtNm": {
                  "description": "Name of a street or thoroughfare",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_70_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 70
                },
                "BldgNb": {
                  "description": "Number or Name that identifies the position of a building on a street",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_140_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 350
                },
                "PstCd": {
                  "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_16_text.json#",
                  "type": "string",
                  "maxLength": 16
                },
                "OptionalAddressField": {
                  "description": "Additional field; often directions",
                  "type": "string"
                },
                "TwnNm": {
                  "description": "Name of a built-up area, with defined boundaries, and a local government",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "CtrySubDvsn": {
                  "description": "Identifies a subdivision of a country such as state, region, county",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_35_text.json#",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 35
                },
                "Ctry": {
                  "description": "Nation with its own government",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/country_code.json#",
                  "type": "string",
                  "pattern": "[A-Z]{2}"
                }
              },
              "required": ["StrtNm", "PstCd", "Ctry"],
              "additionalProperties": false
            },
            "GeographicLocation": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/geographic_coordinates.json#",
              "description": "Geographic Coordinates",
              "type": "object",
              "properties": {
                "Lat": {
                  "description": "Latitude measured in degrees, minutes and seconds, following by 'N' for North and 'S' for South of the Equator (for example 48°51'29'' N for the Eiffel Tower latitude)",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_16_text.json#",
                  "type": "string",
                  "maxLength": 16
                },
                "Long": {
                  "description": "Angular measurement of the distance of a location on the Earth East or West of the Greenwich Observatory. The longitude is measured in degrees, minutes and seconds, following by 'E' for East and 'W' for West (for example 2°17'4'' E for the Eiffel Tower longitude)",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/max_16_text.json#",
                  "type": "string",
                  "maxLength": 16
                }
              },
              "required": ["Lat", "Long"],
              "additionalProperties": false
            },
            "AccessibilityTypes": {
              "description": "Information about the accessibility",
              "id": "http://localhost:8000/schemas/v0/definitions/common/accessibility_types.json#",
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": ["Automatic Doors", "Lower Level Counter", "Induction Loop", "Wheelchair Access", "External Ramp", "Internal Ramp", "Level Access", "Helping Hand Unit"]
              }
            },
            "SupportedLanguages": {
              "description": "Languages that the ATM supports",
              "type": "array",
              "items": {
                "description": "must be ISO 693-2 codes",
                "type": "string"
              },
              "minItems": 1
            },
            "ATMServices": {
              "description": "Information about ATM services",
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/atm/services.json#",
                "description": "Information about ATM services",
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": ["Cash Withdrawal", "Cash Deposits", "Mobile Banking Registration", "Pin Change", "Mobile Phone Top Up", "PingIT Registration", "Bill Payments", "Mini Statements", "Balance", "Fast Cash", "PIN Activation", "Charity Donation", "Cheque Book Request"]
                }
              }
            },
            "AdditionalATMServices": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/max_140_text.json#",
                "description": "maxLength 350 text",
                "type": "string",
                "minLength": 1,
                "maxLength": 350
              }
            },
            "Currency": {
              "description": "Defines currency type available for dispense",
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/active_or_historic_currency_code.json#",
                "description": "Active or Historic Currency Code",
                "type": "string",
                "pattern": "[A-Z]{3}"
              }
            },
            "MinimumValueDispensed": {
              "description": "Minimum currency denominations usually available",
              "id": "http://localhost:8000/schemas/v0/definitions/atm/notes.json#",
              "enum": ["£ 5", "£ 10", "£ 20", "£ 50", "£ 100"]
            }
          },
          "required": ["Organisation", "ATMID", "Address", "GeographicLocation", "SupportedLanguages", "ATMServices", "Currency"],
          "additionalProperties": false
        }
/personal-current-accounts:
  type:
    opendata:
      description: Personal Current Accounts
      dataSchema: |-
        {
          "id": "http://localhost:8000/schemas/v0/personal_current_account.json#",
          "description": "Personal Current Account",
          "type": "object",
          "properties": {
            "Organisation": {
              "id": "http://localhost:8000/schemas/v0/definitions/common/organisation.json#",
              "description": "Organisation",
              "type": "object",
              "properties": {
                "ParentGroupName": {
                  "description": "Parent company that owns or partially owns subsidiary organisations",
                  "type": "string"
                },
                "ParentGroupID": {
                  "description": "Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/bic.json#",
                  "type": "string",
                  "pattern": "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                },
                "BrandName": {
                  "description": "Name by which an organisation is known that is printed on top of the ATM",
                  "type": "string"
                },
                "BrandID": {
                  "description": "Unique and unambiguous way to identify the organisation that is shown on top of the ATM",
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": ["ParentGroupName", "ParentGroupID", "BrandName", "BrandID"],
              "additionalProperties": false
            },
            "ProductType": {
              "description": "Descriptive code for the product category",
              "enum": ["PCA"]
            },
            "ProductName": {
              "description": "The name of the product used for marketing purposes from a customer perspective. i.e. what the customer would recognise",
              "type": "string"
            },
            "ProductSegment": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/ca/ca_product_segment.json#",
                "description": "Marketing or industry segment that the product is designed for",
                "enum": ["Student", "Graduate", "Child", "Package", "Basic", "General", "Business", "Youth"]
              },
              "minItems": 1
            },
            "InternationalPaymentsSupported": {
              "description": "Indicates that the account supports international payments",
              "type": "boolean"
            },
            "ProductIdentifier": {
              "description": "Identifier within the parent organisation for the product. Must be unique in the organisation",
              "type": "string"
            },
            "CardWithdrawalLimit": {
              "description": "The daily Limit that a customer can get via the ATM. This describes the default limit rather than the maximum",
              "type": "number"
            },
            "ProductDescription": {
              "description": "Description of the product provided by the parent organisation",
              "type": "string"
            },
            "TsandCs": {
              "description": "URL provided by the parent organisation which redirects to the current T&Cs",
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1
            },
            "AccessChannels": {
              "description": "Ways to interact with the bank when managing account",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/channels.json#",
                "description": "Channel",
                "enum": ["Branch", "Post", "Internet", "Phone", "Smartphone", "Text"]
              },
              "minItems": 1
            },
            "CardType": {
              "description": "Card Type available",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/card_type.json#",
                "description": "Indicates the card scheme",
                "enum": ["Visa", "Mastercard", "Cashcard"]
              },
              "minItems": 1
            },
            "Contactless": {
              "description": "Does the card issued have contactless facility",
              "type": "boolean"
            },
            "MobileWallet": {
              "description": "Mobile wallet supported by this product. A mobile wallet being any electronic device that allows an individual to make electronic commerce transactions",
              "id": "http://localhost:8000/schemas/v0/definitions/ca/wallet.json#",
              "enum": ["Apple Pay", "Android Pay", "Samsung Pay", "Vodafone Wallet", "Issuer Mobile App"]
            },
            "CardNotes": {
              "description": "Optional additional notes to supplement the card details",
              "type": "string"
            },
            "ChequeBookAvailable": {
              "description": "Can a chequebook be issued",
              "type": "boolean"
            },
            "CreditScoringPartOfAccountOpeningForGettingAnAccount": {
              "description": "Indicates whether a credit check performed on an inquiry to open an account is submitted",
              "type": "boolean"
            },
            "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
              "description": "Describes the type of credit scoring",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/ca/hard_soft.json#",
                "description": "Indicates the type of scoring",
                "enum": ["Hard", "Soft"]
              }
            },
            "CreditScoringPartOfAccountOpeningText": {
              "description": "Details on the specific credit scoring",
              "type": "string"
            },
            "CreditScoringPartOfAccountOpeningForIDVerification": {
              "description": "Indicates whether a credit check is used to check the address of a potential new account holder",
              "type": "boolean"
            },
            "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/ca/hard_soft.json#",
                "description": "Indicates the type of scoring",
                "enum": ["Hard", "Soft"]
              }
            },
            "CreditScoringPartOfAccountOpeningIDVerificationText": {
              "description": "Details on the specific credit scoring",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "MonthlyMaximumCharge": {
              "description": "The maximum Relevant Charges that could accrue in relation to that PCA in any month as a result of exceeding or attempting to exceed a Pre-agreed credit limit on the PCA. i.e. it does not include any charges that are applied through the normal operation of the account such as overdraft interest charges whilst within an agreed limit",
              "type": "number"
            },
            "ProductURL": {
              "description": "URL provided by the organisation which redirects to the product (on live products only). There might be more than one product at a given URL",
              "type": "array",
              "items": {
                "type": "string",
                "format": "uri"
              },
              "minItems": 1
            },
            "Ccy": {
              "description": "Currency of the Account. Default to GBP at present",
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/common/active_or_historic_currency_code.json#",
                "description": "Active or Historic Currency Code",
                "type": "string",
                "pattern": "[A-Z]{3}"
              },
              "minItems": 1
            },
            "OverdraftOffered": {
              "description": "Indicates whether an overdraft offered for this account",
              "type": "boolean"
            },
            "Feature": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/feature/feature.json#",
                "description": "Account Features",
                "type": "object",
                "properties": {
                  "ExistingFeature": {
                    "description": "Indicates whether the account has any feature",
                    "type": "boolean"
                  },
                  "ProductSubType": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "enum": ["Promotional", "Regular", "Future Regular Terms"]
                  },
                  "StartPromotionOrFutureTerms": {
                    "description": "Describes the start date",
                    "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "StopPromotionOrFutureTerms": {
                    "description": "Describes the end date",
                    "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "LengthPromotionalInDays": {
                    "description": "Describes the length if only a duration is given instead of a date",
                    "type": "integer"
                  },
                  "DateOfChange": {
                    "description": "Date of the change if it refers to future terms",
                    "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "FeatureDetails": {
                    "description": "Feature details",
                    "type": "array",
                    "items": {
                      "id": "http://localhost:8000/schemas/v0/definitions/feature/feature_details.json#",
                      "description": "Feature Details",
                      "type": "object",
                      "properties": {
                        "FeatureSubType": {
                          "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                          "description": "Describes if the offering is promotional, regular or a description of a future state",
                          "enum": ["Promotional", "Regular", "Future Regular Terms"]
                        },
                        "StartPromotionOrFutureTerms": {
                          "description": "Describes the start date",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "StopPromotionOrFutureTerms": {
                          "description": "Describes the end date",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "LengthPromotionalInDays": {
                          "description": "Describes the length if only a duration is given instead of a date",
                          "type": "integer"
                        },
                        "DateOfChange": {
                          "description": "Date of the change if it refers to future terms",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "FeatureType": {
                          "description": "Type that represents the nature of the feature",
                          "type": "string"
                        },
                        "FeatureName": {
                          "description": "The name of the feature",
                          "type": "string"
                        },
                        "FeatureDescription": {
                          "description": "A textual explanation of what the feature",
                          "type": "string"
                        },
                        "FeatureValue": {
                          "description": "The value or values permissible for a specific feature for an individual product representing a product characteristic",
                          "type": "string"
                        },
                        "CriteriaType": {
                          "description": "Criteria that is required in order to be eligible for the feature",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": ["ExistingFeature"]
              }
            },
            "CAPricing": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/ca/card_price.json#",
                "description": "Card Price",
                "type": "object",
                "properties": {
                  "ProductSubType": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "enum": ["Promotional", "Regular", "Future Regular Terms"]
                  },
                  "CAPricingItem": {
                    "id": "http://localhost:8000/schemas/v0/definitions/ca/card_pricing_details.json#",
                    "description": "Card Pricing",
                    "type": "object",
                    "properties": {
                      "StartPromotionOrFutureTerms": {
                        "description": "Describes the start date",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "StopPromotionOrFutureTerms": {
                        "description": "Describes the end date",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "LengthPromotionalInDays": {
                        "description": "Describes the length if only a duration is given instead of a date",
                        "type": "integer"
                      },
                      "DateOfChange": {
                        "description": "Date of the change if it refers to future terms",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "ExchangeRateAdjustment": {
                        "description": "The margin added, by certain card issuers, to the scheme rate in order to arrive at the exchange rate qouted as the reference exchange rate to the cardholder",
                        "type": "number"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": ["ProductSubType", "CAPricingItem"],
                "additionalProperties": false
              },
              "minItems": 1
            },
            "Eligibility": {
              "id": "http://localhost:8000/schemas/v0/definitions/eligibility/eligibility.json#",
              "description": "Eligibility",
              "type": "object",
              "properties": {
                "AgeRestricted": {
                  "description": "Indicates a customer's age is part of eligibility criteria",
                  "type": "boolean"
                },
                "MinimumAge": {
                  "description": "Minimum age, in years, required to hold an account",
                  "type": "integer"
                },
                "MaximumAge": {
                  "description": "Maximum age, in years, allowed to hold the account",
                  "type": "integer"
                },
                "MaximumAgeToOpen": {
                  "description": "Maximum age, in years, to open an account",
                  "type": "integer"
                },
                "OtherFinancialHoldingRequired": {
                  "description": "Indicates that it is necessary to hold another product with the bank in order to be eligible for this product or feature",
                  "type": "boolean"
                },
                "Description": {
                  "description": "One paragraph detailing the eligibility",
                  "type": "string"
                },
                "IncomeTurnoverRelated": {
                  "description": "Indicates if eligibility linked to income",
                  "type": "boolean"
                },
                "SingleJointIncome": {
                  "id": "http://localhost:8000/schemas/v0/definitions/eligibility/income_type.json#",
                  "description": "Minimum Income Source. For certain products a minimum income is required. This can be mandated as to the single income or to a joint income. This field describes this",
                  "enum": ["Single Income", "Joint Income", "Single or Joint Income"]
                },
                "MinimumIncomeTurnoverAmount": {
                  "description": "Minimum income / Turnover required to hold the product",
                  "type": "number"
                },
                "MinimumIncomeTurnoverCurrency": {
                  "description": "Minimum income / Turnover Currency",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/active_or_historic_currency_code.json#",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "IncomeCondition": {
                  "description": "Stipulates any particular definition of income that applies to the income eligibility and/or method by which income must paid into the account (eg Salary DD)",
                  "type": "string"
                },
                "MinIncomeTurnoverPaidIntoAccount": {
                  "description": "Minimum Income Amount required to paid into the account",
                  "type": "integer"
                },
                "MinimumIncomeFrequency": {
                  "description": "The frequency that the minimum mentioned before is deposited in the account. Yearly is very important for premium accounts",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/frequency.json#",
                  "enum": ["Daily", "Weekly", "Monthly", "Yearly", "University Term", "Flexible"]
                },
                "AnnualBusinessTurnover": {
                  "description": "Annual Business Turnover",
                  "type": "integer"
                },
                "AnnualBusinessTurnoverCurrency": {
                  "description": "Annual Business Turnover Currency",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/active_or_historic_currency_code.json#",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "ResidencyRestricted": {
                  "description": "Indicates a customer's residency forms part of the eligibility criteria",
                  "type": "boolean"
                },
                "ResidencyRestrictedRegion": {
                  "description": "Indicates a customer must be current resident of a geographic area/country",
                  "id": "http://localhost:8000/schemas/v0/definitions/regions.json#",
                  "enum": ["UK", "EEA", "EU", "EFTA", "GB - ENG", "GB - NIR", "GB - SCT", "GB - WLS", "IRL"]
                },
                "MaxNumberOfAccounts": {
                  "description": "Maximum number of the same prodcut the customer may hold",
                  "type": "string"
                },
                "ThirdSectorOrganisations": {
                  "description": "Is the product available to operate as a Clubs or Societies account?",
                  "type": "boolean"
                },
                "MinimumDeposit": {
                  "description": "A minimum deposit required to hold this account",
                  "type": "boolean"
                },
                "OpeningDepositMinimum": {
                  "description": "Minimum Amount to be held on account",
                  "type": "number"
                },
                "OpeningDepositMinimumCurrency": {
                  "description": "The currency of the Minimum Amount to be depositing at opening",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/active_or_historic_currency_code.json#",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "MinimumOperatingBalanceExists": {
                  "description": "Is there a Minimum Operating Balance?",
                  "type": "boolean"
                },
                "MinimumOperatingBalance": {
                  "description": "Minimum Operating Balance",
                  "type": "number"
                },
                "MinimumOperatingBalanceCurrency": {
                  "description": "Minimum Operating Balance currency",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/active_or_historic_currency_code.json#",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "MaximumOpeningAmount": {
                  "description": "A maximum amount to be deposited at opening",
                  "type": "boolean"
                },
                "OpeningDepositMaximumAmount": {
                  "description": "Maximum Amount to be depositing at opening",
                  "type": "number"
                },
                "OpeningDepositMaximumCurrency": {
                  "description": "The currency of the Minimum Amount to be depositing at opening",
                  "id": "http://localhost:8000/schemas/v0/definitions/common/active_or_historic_currency_code.json#",
                  "type": "string",
                  "pattern": "[A-Z]{3}"
                },
                "EligibilityName": {
                  "description": "Free text description, denotes non standard eligibilities not included in the code list",
                  "type": "string"
                },
                "EligibilityType": {
                  "description": "Eligibility type",
                  "id": "http://localhost:8000/schemas/v0/definitions/eligibility/eligibility_type.json#",
                  "enum": ["Business Only", "Students Only", "NTB Business", "Credit Scoring", "Sole UK account", "Any business customer", "ID and Verification", "Arrears on Loan, Credit Card, mortgage", "Over Overdraft for more than 30 days", "Sole UK Account or Bankrupt", "UCAS Fulltime for 2 years", "Date Limited (2 months within course start date)", "Email Address", "Sole Student Account"]
                },
                "EligibilityNotes": {
                  "description": "Optional additional notes to supplement the eligibility conditions. Only used for very specific conditions",
                  "type": "string"
                },
                "PreviousBankruptcy": {
                  "description": "Describes if a previous bankruptcy / insolvency disqualfies for this account Details in ELI-280",
                  "type": "boolean"
                },
                "MarketingEligibility": {
                  "type": "array",
                  "items": {
                    "id": "http://localhost:8000/schemas/v0/definitions/eligibility/marketing_eligibility.json#",
                    "description": "Specific eligibility for marketing",
                    "enum": ["Switchers Only", "New Customers Only"]
                  },
                  "uniqueItems": true
                }
              },
              "required": ["AgeRestricted", "OtherFinancialHoldingRequired", "Description", "IncomeTurnoverRelated", "ResidencyRestricted", "ThirdSectorOrganisations", "PreviousBankruptcy"],
              "additionalProperties": false
            },
            "CreditInterest": {
              "id": "http://localhost:8000/schemas/v0/definitions/crit/crit.json#",
              "description": "Credit Interest",
              "type": "object",
              "properties": {
                "CreditCharged": {
                  "description": "Is credit paid to the account. The answer will be the condition of all other fields to be filled",
                  "type": "boolean"
                },
                "CreditInterestGroup": {
                  "id": "http://localhost:8000/schemas/v0/definitions/crit/crit_group.json#",
                  "description": "Credit Interest Group",
                  "type": "object",
                  "properties": {
                    "InterestSubType": {
                      "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                      "description": "Describes if the offering is promotional, regular or a description of a future state",
                      "enum": ["Promotional", "Regular", "Future Regular Terms"]
                    },
                    "CreditInterestItem": {
                      "id": "http://localhost:8000/schemas/v0/definitions/crit/crit_item.json#",
                      "description": "Credit Interest item",
                      "type": "object",
                      "properties": {
                        "StartPromotionOrFutureTerms": {
                          "description": "Describes the start date",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "StopPromotionOrFutureTerms": {
                          "description": "Describes the end date",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "LengthPromotionalInDays": {
                          "description": "Describes the length if only a duration is given instead of a date",
                          "type": "integer"
                        },
                        "DateOfChange": {
                          "description": "Date of the change if it refers to future terms",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "StartDate": {
                          "description": "If interest is charged on a specific date range as start date (often used for promotion)",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "EndDate": {
                          "description": "If interest is charged on a specific date range as end date (often used for promotion)",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                          "type": "string",
                          "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                        },
                        "CalculationFrequency": {
                          "description": "How often is interest applied to account",
                          "id": "http://localhost:8000/schemas/v0/definitions/common/frequency.json#",
                          "enum": ["Daily", "Weekly", "Monthly", "Yearly", "University Term", "Flexible"]
                        },
                        "PaymentMethod": {
                          "id": "http://localhost:8000/schemas/v0/definitions/crit/crit_payment_method.json#",
                          "description": "Credit Interest Payment Method",
                          "enum": ["Pay away", "Compound"]
                        },
                        "InterestRateType": {
                          "id": "http://localhost:8000/schemas/v0/definitions/crit/crit_interest_rate_type.json#",
                          "description": "Credit Interest Payment Rate Type",
                          "enum": ["Fixed", "Variable"]
                        },
                        "FixedInterestLength": {
                          "description": "Fixed interest length in days",
                          "type": "integer"
                        },
                        "CalculationMethod": {
                          "id": "http://localhost:8000/schemas/v0/definitions/crit/crit_calculation_method.json#",
                          "description": "Method for interest calculation",
                          "enum": ["Branded", "Tiered"]
                        },
                        "InterestTiers": {
                          "type": "array",
                          "items": {
                            "id": "http://localhost:8000/schemas/v0/definitions/crit/crit_interest_tiers.json#",
                            "description": "Credit Interest Tiers",
                            "type": "object",
                            "properties": {
                              "InterestTier": {
                                "description": "Identifier for the tier",
                                "type": "string"
                              },
                              "TierValueMinimum": {
                                "description": "Lower value of interest tier",
                                "type": "number"
                              },
                              "DailyChargeForMinimum": {
                                "description": "Special charge on tiered overdraft",
                                "type": "number"
                              },
                              "TierValueMaximum": {
                                "description": "Max Value of interst tier",
                                "type": "number"
                              },
                              "DailyChargeForMaximum": {
                                "description": "Special charge on tiered overdraft",
                                "type": "number"
                              },
                              "Rate": {
                                "description": "Rate being paid by the bank (gross)",
                                "type": "number"
                              },
                              "RateComparisonType": {
                                "id": "http://localhost:8000/schemas/v0/definitions/rate_comparison_type.json#",
                                "description": "Rate Comparison Type",
                                "enum": ["APR", "AER", "Gross"]
                              },
                              "APRAERRate": {
                                "description": "AER or APR Rate for comparison",
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "InterestNotes": {
                          "description": "Additional notes to supplement the interest details",
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": ["InterestSubType", "CreditInterestItem"],
                  "additionalProperties": false
                }
              },
              "required": ["CreditCharged", "CreditInterestGroup"],
              "additionalProperties": false
            },
            "Overdraft": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/ovd/overdraft.json#",
                "description": "Overdraft",
                "type": "object",
                "properties": {
                  "InterestProductSubType": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "enum": ["Promotional", "Regular", "Future Regular Terms"]
                  },
                  "StartPromotionOrFutureTerms": {
                    "description": "Describes the start date",
                    "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "StopPromotionOrFutureTerms": {
                    "description": "Describes the end date",
                    "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "LengthPromotionalInDays": {
                    "description": "Describes the length if only a duration is given instead of a date",
                    "type": "integer"
                  },
                  "DateOfChange": {
                    "description": "Date of the change if it refers to future terms",
                    "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                    "type": "string",
                    "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                  },
                  "OverdraftPricing": {
                    "id": "http://localhost:8000/schemas/v0/definitions/ovd/overdraft_pricing.json#",
                    "description": "Overdraft Pricing",
                    "type": "object",
                    "properties": {
                      "ApplicableTo": {
                        "id": "http://localhost:8000/schemas/v0/definitions/ovd/persme.json#",
                        "description": "Personal Interest Tiers",
                        "type": "object",
                        "properties": {
                          "InterestTierSME": {
                            "id": "http://localhost:8000/schemas/v0/definitions/intsme.json#",
                            "description": "Identifier for tier only where it has been supplied under Part 8 (article 32 or the CMA order), value reflects upper tier value",
                            "enum": ["£ 5,000", "£ 10,000", "£ 15,000", "£ 20,000", "£ 25,000"]
                          },
                          "InterestTierPersonal": {
                            "description": "Identifier for the tier",
                            "type": "string"
                          }
                        },
                        "required": ["InterestTierSME", "InterestTierPersonal"],
                        "additionalProperties": false
                      },
                      "Tiers": {
                        "type": "array",
                        "items": {
                          "id": "http://localhost:8000/schemas/v0/definitions/ovd/tiers.json#",
                          "description": "Tiers",
                          "type": "object",
                          "properties": {
                            "TierType": {
                              "id": "http://localhost:8000/schemas/v0/definitions/ovd/tier_type.json#",
                              "description": "Tier Type",
                              "type": "object",
                              "properties": {
                                "ArrangedOverdraftInterestTier": {
                                  "description": "Arranged overdraft interest tier",
                                  "type": "integer"
                                },
                                "UnarrangedOverdraftInterestTier": {
                                  "description": "Unarranged overdraft interest tier",
                                  "type": "integer"
                                }
                              },
                              "additionalProperties": false
                            },
                            "TierValueMinimum": {
                              "description": "Lower value of interest tier",
                              "type": "number"
                            },
                            "TierValueMaximum": {
                              "description": "Max Value of interest tier",
                              "type": "number"
                            }
                          },
                          "additionalProperties": false
                        },
                        "minItems": 1
                      },
                      "InterestRateEARpa": {
                        "description": "Interest rate applied to tier",
                        "type": "number"
                      },
                      "RepresentativeRate": {
                        "description": "Interest rate at AER",
                        "type": "number"
                      },
                      "InterestNotes": {
                        "description": "Optional additional notes to supplement the interest details",
                        "type": "string"
                      },
                      "TotalOverdraftChargeAmount": {
                        "description": "All charges that a customer could incur as a result of exceeding or attempting to exceed a Pre-agreed credit limit",
                        "type": "number"
                      },
                      "MinUnarrangedOverdraftAmount": {
                        "description": "Minimum Unarranged Overdraft Amount if applicable",
                        "type": "number"
                      },
                      "InterestRate": {
                        "description": "interest rate applied to tier",
                        "type": "number"
                      },
                      "InterestRateCalculationFrequency": {
                        "description": "Frequency at which interest is calculated and accrued",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/frequency.json#",
                        "enum": ["Daily", "Weekly", "Monthly", "Yearly", "University Term", "Flexible"]
                      },
                      "InterestApplicationFrequency": {
                        "description": "When the interest is applied",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/frequency.json#",
                        "enum": ["Daily", "Weekly", "Monthly", "Yearly", "University Term", "Flexible"]
                      },
                      "DailyCharge": {
                        "description": "Maximum daily overdraft charge",
                        "type": "number"
                      },
                      "MonthlyCharge": {
                        "description": "Maximum monthly overdraft charge",
                        "type": "number"
                      },
                      "ItemCharge": {
                        "description": "Arranged overdraft item charge",
                        "type": "number"
                      },
                      "OtherCharge": {
                        "description": "Other flat charge levied when overdrawn (Arranged)",
                        "type": "number"
                      },
                      "OverdraftNotes": {
                        "description": "Supplementary notes for overdrafts",
                        "type": "string"
                      },
                      "RatesAreNegotionable": {
                        "id": "http://localhost:8000/schemas/v0/definitions/ovd/rates_negotiable.json#",
                        "description": "Value that expresses if the rates are negotiable",
                        "enum": ["yes", "no", "Condition based"]
                      },
                      "IndicativeRate": {
                        "description": "Indicative Rate that the client will get",
                        "type": "number"
                      },
                      "BufferAmount": {
                        "description": "Amount on overdraft that is prearranged",
                        "type": "number"
                      }
                    },
                    "required": ["ApplicableTo", "Tiers"],
                    "additionalProperties": false
                  },
                  "MaximumMonthlyOverdraftCharge": {
                    "description": "Maximum monthly overdraft charge",
                    "type": "number"
                  },
                  "MaximumDailyOverdraftCharge": {
                    "description": "Maximum daily overdraft charge",
                    "type": "number"
                  },
                  "OverdraftType": {
                    "id": "http://localhost:8000/schemas/v0/definitions/ovd/overdraft_type.json#",
                    "description": "Opposite of repayable on demand",
                    "enum": ["On Demand", "Committed"]
                  },
                  "Term": {
                    "description": "The duration of the overdraft, if it is non permanent",
                    "type": "string"
                  },
                  "SetUpFeesAmount": {
                    "description": "Fees to set up the overdraft",
                    "type": "number"
                  },
                  "SetUpFeesRate": {
                    "description": "Rate to set up the overdraft",
                    "type": "number"
                  },
                  "ReviewFee": {
                    "description": "Fee to review overdraft limit",
                    "type": "number"
                  },
                  "MinimumFee": {
                    "description": "Minimum overdraft fee",
                    "type": "number"
                  },
                  "AnnualRenewalFee": {
                    "description": "Fee payable per term for overdraft",
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            },
            "FeesAndCharges": {
              "type": "array",
              "items": {
                "id": "http://localhost:8000/schemas/v0/definitions/fees/fees_and_charges.json#",
                "description": "Fees And Charges",
                "type": "object",
                "properties": {
                  "ProductSubType": {
                    "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                    "description": "Describes if the offering is promotional, regular or a description of a future state",
                    "enum": ["Promotional", "Regular", "Future Regular Terms"]
                  },
                  "Fees": {
                    "id": "http://localhost:8000/schemas/v0/definitions/fees/fees.json#",
                    "description": "Fees",
                    "type": "object",
                    "properties": {
                      "StartPromotionOrFutureTerms": {
                        "description": "Describes the start date",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "StopPromotionOrFutureTerms": {
                        "description": "Describes the end date",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "LengthPromotionalInDays": {
                        "description": "Describes the length if only a duration is given instead of a date",
                        "type": "integer"
                      },
                      "DateOfChange": {
                        "description": "Date of the change if it refers to future terms",
                        "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                        "type": "string",
                        "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                      },
                      "FeeLowerTier": {
                        "description": "Lower occurrence / range boundary e.g.. For returned cheques this could be 0, which means the first returned cheque fits into this range",
                        "type": "number"
                      },
                      "FeeHigherTier": {
                        "description": "Higher occurrence / range boundary e.g. For returned cheques this could be 10, which means the first 10 returned cheque fits into this range",
                        "type": "number"
                      },
                      "FeeDetails": {
                        "type": "array",
                        "items": {
                          "id": "http://localhost:8000/schemas/v0/definitions/fees/fee_details.json#",
                          "description": "Fee Details",
                          "type": "object",
                          "properties": {
                            "FeeSubType": {
                              "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                              "description": "Describes if the offering is promotional, regular or a description of a future state",
                              "enum": ["Promotional", "Regular", "Future Regular Terms"]
                            },
                            "FeeDetail": {
                              "id": "http://localhost:8000/schemas/v0/definitions/fees/fee_detail.json#",
                              "description": "Fee Detail",
                              "type": "object",
                              "properties": {
                                "FeeType": {
                                  "id": "http://localhost:8000/schemas/v0/definitions/fees/fee_type.json#",
                                  "description": "A description of the Fee type",
                                  "enum": ["Account Fee", "Incoming CHAPS Fee", "Outgoing CHAPS Fee", "Foreign Currency", "Foreign Currency Withdrawal Fee (% of Tx - Min £2 - Max £5)", "Non Sterling Transaction Fee (Cash Withdrawal)", "SEPA Fee", "Stopped Cheque Fee", "Copy of Cheque Fee", "Cheque Transaction Fee", "Manual Debit Fee", "Counter Draft", "Unpaid Transaction Fee", "Special Cheque Presentation", "Court Order Fee", "Bankers Draft Fee", "Statement Copy Fee", "Bankers Reference Fee", "Personalised Card Fee", "Sterling Travellers Cheque (% of Tx - Min £2 - Max £5)", "International Payments Charge", "Other", "Cash payment In", "Cash payment Out", "Daily Monitoring", "Weekly Monitoring", "Monthly Monitoring", "Status Enquiry", "Audit Letter", "Credits paid in via night Safe", "Credit paid In via Depos ATM", "Telepay or Teledebit Item", "Balance Handlng Fee", "Late payment", "Loan arrangement", "Early Repayment charge", "Over credit limit fee", "Return payment fee", "Payment Scheme Exchange Rate", "Payment Scheme Exchange Fee", "Payment Scheme Exchange Fee Rate", "Non-Sterling Transaction fee", "Non-Sterling Transaction fee rate", "Non-Sterling Purchase Fee", "Non-Sterling Purchase Fee rate", "Non-Sterling Cash Fee", "Non-Sterling Cash Fee Rate", "Foreign Purchase Fee", "Foreign Purchase Fee Rate", "Foreign Cash Fee", "Foreign Cash Fee Rate", "Early Repayment Charges", "Tiered arrangement fees", "Monthly Account Maintenance Fee", "UK Sterling Direct Debits", "Standing order", "Business Debit card transaction (excluding ATM)", "ATM withdrawals (from a non-group ATM)", "ATM withdrawals (from a group ATM)", "Internet Bulk Payment - batch", "Automated credit", "Automated credit - Telephone and Internet Banking", "Automated credit –Faster Payments inbound", "Internet Bulk Payment –per item", "Faster Payments outbound", "Transfer to an account outside of the group", "Cheque paid in (or Postal Order)", "Cheques Out", "Cash paid in", "Cash paid out at own counter", "Other debit", "Other credit", "Credit paid in at another bank", "Cash exchanged", "Bacs – batch file submitted", "Bacs – debit or credit item", "Cardnet envelope paid in", "Credit paid in via Night Safe - up to £5K", "International payment Internet banking", "Express International Moneymover Branch", "Standard International Moneymover Branch", "Non-urgent Euro (SEPA)1 Branch", "International draft payable abroad Branch", "Electronic payments received from abroad Up to £100", "Electronic payments received from abroad over £100", "Foreign cheque/draft", "Cheques/drafts (including dividend warrants) payable in foreign currency or Sterling drawn abroad", "Cheques/drafts (including dividend warrants) payable in foreign currency drawn in the UK", "Unpaid charge (if the cheque/draft is not honoured by the paying bank)", "Status enquiries abroad", "Status enquiries abroad (if sent electronically) additional", "After an international payment has been sent abroad - Beneficiary claiming non-receipt of funds (BCNR) ", "After an international payment has been sent abroad - Recalling a payment", "First legal mortgage over a property, such as business premises", "Second or subsequent legal mortgage over a property, such as a house or business premises", "Unpaid Item", "SMS Text alerts", "SME unsecured loan fee", "World Currency Withdrawal Fee", "World Currency Purchase Fee", "Europe Currently Withdrawal Fee", "Europe Purchase Fee", "Minimum Foreign Cash Withdrawal Fee", "Maximum Foreign Cash Withdrawal Fee", "Security Fee", "Early Redemption Charge", "Paid Referral Fee", "Unpaid Referral Fee"]
                                },
                                "Other": {
                                  "description": "Describe other fee type",
                                  "type": "string"
                                },
                                "StartPromotionOrFutureTerms": {
                                  "description": "Describes the start date",
                                  "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                                  "type": "string",
                                  "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                                },
                                "StopPromotionOrFutureTerms": {
                                  "description": "Describes the end date",
                                  "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                                  "type": "string",
                                  "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                                },
                                "LengthPromotionalInDays": {
                                  "description": "Describes the length if only a duration is given instead of a date",
                                  "type": "integer"
                                },
                                "DateOfChange": {
                                  "description": "Date of the change if it refers to future terms",
                                  "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                                  "type": "string",
                                  "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                                },
                                "FeeSubDetails": {
                                  "id": "http://localhost:8000/schemas/v0/definitions/fees/fee_sub_details.json#",
                                  "description": "Fee Sub Details",
                                  "type": "object",
                                  "properties": {
                                    "FeeFrequency": {
                                      "id": "http://localhost:8000/schemas/v0/definitions/fees/fee_frequency.json#",
                                      "description": "Triggering frequency of the fee",
                                      "enum": ["Monthly", "Per Transaction - Amount", "Per Transaction - Percentage", "Per Occurrence", "Daily", "5 consecutive business days", "Weekly", "Statement Monthly", "Quarterly", "6 monthly", "Yearly", "On account anniversary", "Charging period", "Item", "Account opening", "Account Closing", "Academic Term", "One time payment at the start of the loan", "At the time of repayment", "per hour", "per sheet"]
                                    },
                                    "FeeAmount": {
                                      "description": "Fee in GBP",
                                      "type": "number"
                                    },
                                    "FeeRate": {
                                      "description": "% Rate",
                                      "type": "number"
                                    },
                                    "Negotiable": {
                                      "description": "Indicates that this Fee Rate or Fee Amount is negotiable based on risk or other factor",
                                      "type": "boolean"
                                    },
                                    "RepresentativeRate": {
                                      "description": "Representative Rate",
                                      "type": "number"
                                    },
                                    "FeeLowerTier": {
                                      "description": "Lower occurrence / range boundary e.g. For returned cheques this could be 0, which means the first returned cheque fits into this range",
                                      "type": "number"
                                    },
                                    "FeeHigherTier": {
                                      "description": "Higher occurrence / range boundary e.g. For returned cheques this could be 10, which means the first 10 returned cheque fits into this range",
                                      "type": "number"
                                    },
                                    "FeesAndChargesNotes": {
                                      "description": "Supplementary information for fees and charges",
                                      "type": "string"
                                    }
                                  },
                                  "required": ["FeeFrequency", "FeeAmount", "Negotiable"],
                                  "additionalProperties": false
                                }
                              },
                              "required": ["FeeType", "FeeSubDetails"],
                              "additionalProperties": false
                            }
                          },
                          "required": ["FeeSubType", "FeeDetail"],
                          "additionalProperties": false
                        },
                        "minItems": 1
                      }
                    },
                    "required": ["FeeDetails"],
                    "additionalProperties": false
                  }
                },
                "required": ["ProductSubType", "Fees"],
                "additionalProperties": false
              },
              "minItems": 1
            },
            "Benefits": {
              "id": "http://localhost:8000/schemas/v0/definitions/benefits/benefit.json#",
              "description": "Benefit",
              "type": "object",
              "properties": {
                "Benefit": {
                  "description": "Describe  one or more benefits if they exist",
                  "type": "boolean"
                },
                "BenefitGroup": {
                  "type": "array",
                  "items": {
                    "id": "http://localhost:8000/schemas/v0/definitions/benefits/benefit_group.json#",
                    "description": "Benefit Interest Group",
                    "type": "object",
                    "properties": {
                      "BenefitSubType": {
                        "id": "http://localhost:8000/schemas/v0/definitions/common/offering_subtype.json#",
                        "description": "Describes if the offering is promotional, regular or a description of a future state",
                        "enum": ["Promotional", "Regular", "Future Regular Terms"]
                      },
                      "BenefitItem": {
                        "id": "http://localhost:8000/schemas/v0/definitions/benefits/benefit_item.json#",
                        "description": "Benefit Item",
                        "type": "object",
                        "properties": {
                          "StartPromotionOrFutureTerms": {
                            "description": "Describes the start date",
                            "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "StopPromotionOrFutureTerms": {
                            "description": "Describes the end date",
                            "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "LengthPromotionalInDays": {
                            "description": "Describes the length if only a duration is given instead of a date in days",
                            "type": "integer"
                          },
                          "DateOfChange": {
                            "description": "Date of the change if it refers to future terms",
                            "id": "http://localhost:8000/schemas/v0/definitions/common/date.json#",
                            "type": "string",
                            "pattern": "^[0-9]{4}-(0[1-9]|(1[1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$"
                          },
                          "BenefitDetail": {
                            "type": "array",
                            "items": {
                              "id": "http://localhost:8000/schemas/v0/definitions/benefits/benfit_detail.json#",
                              "description": "Benefit detail",
                              "type": "object",
                              "properties": {
                                "BenefitType": {
[...]
